<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="<{$keywords}>" />
<meta name="description" content="<{$description}>" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css"/>
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
<title><{$title}></title>
</head>

<frameset border="0" framespacing="0" rows="76,*">
  <frame scrolling="no" frameborder="no" name="header-frame" id="header-frame" src="<{:U('Index/top')}>"></frame>
  <frameset id="frame-body" border="0" framespacing="0" cols="200, 10, *">
        <frame scrolling="yes" frameborder="no" name="menu-frame" id="menu-frame" src="<{:U('Index/menu')}>"></frame>
        <frame scrolling="no" frameborder="no" name="drag-frame" id="drag-frame" src="<{:U('Index/drag')}>"></frame>
        <frame scrolling="yes" frameborder="no" name="main-frame" id="main-frame" src="<{:U('Index/main')}>"></frame>
  </frameset>
</frameset>
    <noframes></noframes>

</html>


 