<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__/Css/usersmanger.css" />
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
<script src="__PUBLIC_COMMON__/Js/jquery.form.js"></script> 
</head>
<body>
    <div class="inof_div">
        <div class="big_title">会员管理</div>
       
        <div class="title"><!--标题行-->
            <div class='td1'>会员ID</div>
            <div class='td2'>会员名</div>
            <div class='td3'>邮箱</div>
            <div class='td4'>电话</div>
            <div class='td5'>是否婚礼人</div>
            <div class='td6'>服务类别</div>
            <div class='td7'>注册时间</div>
        </div>
        <volist name="list" id="vo">
        <div class="content"><!--内容遍历-->
            <div class='td1'><{$vo['user_id']}></div>
            <div class='td2'><{$vo['user_name']}></div>
            <div class='td3'><{$vo['email']}></div>
            <div class='td4'><{$vo['mobile_phone']}></div>
            <div class='td5'><{$vo['shopman_id']==='0'?'普通会员':'婚礼人'}></div>
            <div class='td6'><{$vo['server_content']}></div>
            <div class='td7'><{$vo['reg_time']|date='Y/m/d H：i',###}></div>
        </div>
        </volist> 
    
        
        
        <div class="page_foot"><{$page_foot}></div>
    </div>
   
    
    

<script type="text/javascript">
    $('select[name=server_content]').bind('change',function(){sc_change();});
    function sc_change(){
        $('form[name=sv_cont]').submit();
    }
    $('.input_button').bind('click',function(){
        var index=$(this).prev().val();
        if(index===''){
            alert('请输入需要放入的橱窗编号');
        }else if(!(parseInt(index)>0&&parseInt(index)<13)){
            alert('橱窗编号必须是1到12之间');
        }else{
            var id=$(this).attr('id');
            var name=$(this).attr('name');
            if(window.confirm('确定要把 ['+name+']放入橱窗 吗？')){
                var server=$('option:selected').val();
                var url="/Admin/Shopmanage/chuchuan/leixin/cat/goods_id/"+id+"/index/"+index+"/server/"+server+".html";
                $.ajax({
                    type:'get',
                    async : false,
                    url:url,
                    datatype:'json'
                });
                window.location.href=window.location.href;
            }else{
                return false;
            }
        }
        
    });
    
    
    
</script>
</body>
</html>