
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/lanrenhunli.css">
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
</head>

<body>
<include file='Public/menu' />
<div style="width:1200px;margin:20px auto;">
    <img class="title_img" src="/Public/Uploads/image/admin/20160221/14560423394688085642.gif" />
</div>


<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
