

<div class="footer"><!--//网页脚部-->
<div class="footer_content"><!--//网页脚部内容-->
<div class="site-info"><!--//网页脚部信息--><h3>关注我们</h3>
<ul><li><a href="<{:U('Company/index','name=yiqiwangweixin')}>">一起网微信</a></li><li><a href="<{:U('Company/index','name=yiqiwangapp')}>">一起网APP</a></li></ul>
</div><!--//网页脚部信息-->
<div class="site-info"><!--//网页脚部信息-->
<h3>公司信息</h3>
<ul><li><a href="<{:U('Company/index','name=about_17each')}>">关于一起网</a></li><li><a href="<{:U('Company/index','name=promise')}>">一起网承诺</a></li><li><a href="<{:U('Company/index','name=user_protocol')}>">用户协议</a></li><li><a href="<{:U('Company/index','name=hunliren_protocol')}>">商家协议</a></li></ul>
</div><!--//网页脚部信息-->
<div class="site-info"><!--//网页脚部信息-->
<h3>合作联系</h3>
<ul><li><a href="<{:U('Company/index','name=lianxiwomen')}>">联系我们</a></li><li><a href="<{:U('Company/index','name=join')}>">加入我们</a></li></ul>
</div><!--//网页脚部信息-->
<div class="site-info"><!--//网页脚部信息-->
<h3>用户帮助</h3>
<ul><li><a href="#<{:U('Company/index','name=liucheng')}>">一起网流程</a></li><li><a href="<{:U('Company/index','name=tuikuang')}>">申请退款</a></li><li><a href="<{:U('Company/index','name=question')}>">常见问题</a></li></ul>
</div><!--//网页脚部信息-->
<div class="site-info_r"><!--//网页脚部信息-->
<i></i>
<p>微信公众号：17网</p>
<p>服务时间：每天 9:00 - 22:00</p>
</div><!--//网页脚部信息-->
</div><!--//网页脚部内容-->
<div class="icp">&copy;<{$date}><{$copy}></div>
</div><!--//网页脚部-->
</body>
</html>
