<div class="body">
        <div class="left">
            <div class="d1">我的主页</div>
            <ul class="left_ul">
                <li><a href="<{:U('Member/hunlirenshangjiaxinxi')}>">商家信息</a></li>
                <li><a href='#'>修改密码</a></li>
            </ul>
            <div class="d1">交易管理</div>
            <ul class="left_ul">
                <li><a href='#'>已卖商品</a></li>
                <li><a href='#'>评价管理</a></li>
                <li><a href='#'>申请提现</a></li>
                <li><a href='#'>代金卷管理</a></li>
            </ul>
            <div class="d1">商品管理</div>
            <ul class="left_ul">
                <li><a href="<{:U('Member/release_goods')}>">发布商品</a></li>
                <li><a href="<{:U('Member/goods_list')}>">商品列表</a></li>
            </ul>
            <div class="d1">我的账户</div>
            <ul class="left_ul">
                <li><a href='#'>我的余额</a></li>
                <li><a href='#'>申请提现</a></li>
                <li><a href='#'>账户设置</a></li>
                <li><a href='#'>安全中心</a></li>
            </ul>
        </div>
