<div class="body">
        <div class="left">
            <div class="d1">我的主页</div>
            <ul class="left_ul">
                <li><a href="<{:U('Member/index')}>">会员信息</a></li>
                <li><a href="<{:U('Member/hunlirenshangjiaxinxi')}>">商家信息</a></li>
                <li><a href="<{:U('Member/xiugai_mima')}>">修改密码</a></li>
            </ul>
            <div class="d1">交易管理</div>
            <ul class="left_ul">
                <li><a href="<{:U('Order/index')}>">已买商品</a></li>
                <li><a href="<{:U('Member/sellection')}>">我的收藏</a></li>
                <li><a href="<{:U('Order/appraise_manage')}>">我已评价</a></li>
                <li><a href='<{:U("Member/xiugai_zhifumima")}>'>修改支付密码</a></li>
            </ul>
            <div class="d1">我是商家</div>
            <ul class="left_ul">
                <li><a href="<{:U('Member/release_goods')}>">发布商品</a></li>
                <li><a href="<{:U('Member/goods_sold')}>">已售商品</a></li>
                <li><a href="<{:U('Member/goods_list')}>">商品列表</a></li>
            </ul>
            <div class="d1">我的账户</div>
            <ul class="left_ul">
                <li><a href="<{:U('Member/daijinquan')}>">代金券</a></li>
                <li><a href="<{:U('Member/balance')}>">我的余额</a></li>
                <li><a href="<{:U('Member/tixian')}>">申请提现</a></li>
                <li><a href="<{:U('Member/zhanghushezhi')}>">账户设置</a></li>
                <li><a href='#'>安全中心</a></li>
            </ul>
        </div>
