


<a name="top"></a>
<div class="top"><!--顶部-->
<div class="top1">
<span class="span1">
    <!--<a  href="#" class="red">登录</a><a href="<{:U('Zhuce/index')}>">注册</a>-->
    <{$yonghuxinxi}>
    <a id="noborder" href="#">手机一起网</a>
</span>

    <ul class="span2">   
        <li><a  href="<{:U('Order/index')}>">我的订单</a></li>
        <li><a   href="<{:U('Member/index')}>">我的一起网</a></li>
        <li><a  href="<{:U('Member/cart')}>">购物车</a></li>
        <li><a  href="<{:U('Member/hunlirenshangjiaxinxi')}>">我是婚礼人</a></li>
        <li id="li_history">
            <a href="javascript:void(0);"  id="a_history">最近浏览</a>
    <div class="menu_history" id="menu_history">
        <ul class="menu_history_ul">
            <volist name="distory_goods" id="vo">
            <li>
                <a class="a_history" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>">
                    <div class="div_history">
                        <img src="<{$vo['goods_img']}>" />
                    </div>
                    <h5><{$vo['goods_name']}></h5>
                    <span><em>&yen;<{$vo['price']}></em> <s><{$vo['yuan_price']}></s> </span>
                </a>
            </li>
            </volist>
        </ul>
        <p class="clear">
            <a href="javascript:void(0);" id="delete_distory">清空最近浏览记录</a>
        </p>
    </div>
        </li>
        <li><a id="noborder" href="#">联系客服</a></li>
    </ul>
    
</div>
</div><!--//顶部-->
<div class="logo"><!--logo-->
    <a href="<{:U('Index/index')}>"><div class="logol"></div></a>
<div class="serch">
    <form name="searchform" action="<{:U('Index/search')}>" method="get">
        <input class="inputsr" type="text" name="sp" value="<{$get['sp']}>" placeholder="西式 策划" maxlength="100" />
<input class="submitsr" type="submit" id='sr' value="搜索" />
</form>
</div>
<div class="logor">

<div class="head_chengnuo_content">
    <a id='17weixin'>
        <img class="weixin_tubiao" src="__PUBLIC_HOME__/Images/public/weixin_tubiao.jpg" />
        <img class="weixin_erweima" id='weixin_erweima' src="__PUBLIC_HOME__/Images/public/17_weixin.jpg" />
        <div class="phone2">咨询微信</div>
        </a>
             <a href="<{:U('Company/index','name=shuangbeipeifu')}>">
             <i class="peifu"></i>
             双倍赔付
             </a>
             <a href="<{:U('Company/index','name=suishitui')}>">
             <i class="tui"></i>
             随时退
             </a>
             <a href="<{:U('Company/index','name=baozhengjin')}>" style="margin-right: 0px;">
                 <i class="baozhengjin">
                     保
                 </i>
                 保证金
             </a>
         </div>
</div>
</div><!--//logo-->
<div class="menu"><!--导航-->
<div class="menu_l">特色一起网</div>
<div class="menu_r">
<ul>
<li><a href="<{:U('Index/index')}>">首页</a></li>
<li><a href="<{:U('Category/index',array('cid'=>1))}>">策划师</a></li>
<li><a href="<{:U('Category/index',array('cid'=>2))}>">司仪</a></li>
<li><a href="<{:U('Category/index',array('cid'=>3))}>">布置</a></li>
<li><a href="<{:U('Category/index',array('cid'=>4))}>">摄像</a></li>
<li><a href="<{:U('Category/index',array('cid'=>5))}>">摄影</a></li>
<li><a href="<{:U('Category/index',array('cid'=>6))}>">跟妆</a></li>
<li><a href="<{:U('Category/index',array('cid'=>7))}>">车队</a></li>
<li><a href="<{:U('Category/index',array('cid'=>8))}>">演艺</a></li>
<li><a href="<{:U('Category/index',array('cid'=>9))}>">婚纱</a></li>
<li><a href="<{:U('Category/index',array('cid'=>10))}>">酒店</a></li>
<li><a href="<{:U('Category/index',array('cid'=>11))}>">喜铺</a></li>
</ul>
</div>
</div><!--//导航-->
<script  type="text/javascript">
    $('.div_history img').each(function(i,item){
        if($(item).width()<90){
            $(item).css('width','90px');
            $(item).css('height','auto');
        }
    });
    
    $('#sr').bind('click',function(){
        if($('input[name=sp]').val()==''){
            var a=$('input[name=sp]').attr('placeholder');
            $('input[name=sp]').val(a);
        }
    });
    
    $('.span2>li').bind('mouseover',function(){
        $(this).css('background-color','#FFF');
    });
    $('.span2>li').bind('mouseout',function(){
        $(this).css('background-color','#F9F9F9');
    });
    $('#li_history').bind('mouseover',function(){
        $('#menu_history').css('display','block');
    });
    $('#li_history').bind('mouseout',function(){
        $('#menu_history').css('display','none');
    });
    $('#delete_distory').bind('click',function(){
        var url="<{:U('Index/delete_distory')}>";
        $.ajax({
            type:'post',
            url:url,
            datatype:'json'
        });
         $('#menu_history').css('display','none');
    });
    $('#17weixin').bind('click',function(){
        if($('.weixin_erweima').css('display')!=='none'){
            $('.weixin_erweima').css('display','none');
        }else{
            $('.weixin_erweima').css('display','block');
        }
    });
</script>

