
<a name="top"></a>
<div class="top"><!--顶部-->
<div class="top1">
<span class="span1">
    <!--<a  href="#" class="red">登录</a><a href="<{:U('Zhuce/index')}>">注册</a>-->
    <{$yonghuxinxi}>
    <a id="noborder" href="#">手机婚拉拉</a>
</span>
<span class="span2">
    <a  href="<{:U('Order/index')}>">我的订单</a><a   href="<{:U('Member/index')}>">我的婚拉拉</a><a  href="#">购物车</a><a  href="<{:U('Member/hunlirenshangjiaxinxi')}>">我是婚礼人</a><a href="#">最近浏览</a><a href="#">联系客服</a><a id="noborder" href="#">最近浏览</a>
</span>
</div>
</div><!--//顶部-->
