/* CSS Document */

.release{
width:935px;
margin-left: 20px;
float: left;
}
.td1{
    padding: 20px 0px;
    border-bottom: 1px solid #DDD;
}
.td1 .picture{
    float: left;
    margin-right: 10px;
}
.td1 .picture img{
    width: 100px;
    height: 66px;
}

.td1 .info{
    font-size: 14px;
    width: 200px;
    float: left;
}

.des_title{
    font-size: 14px;
    float: left;
}
.des_ul{
    float: left;
    position: relative;
    top:-4px;
}
.des_ul ul li{
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
.des_ul .pingjia_text{
    font-size: 14px;
    display: inline-block;
    height: 23px;
    line-height: 23px;
}
/*先简单写成几分，以后有需要再改成图片星星显示
.des_ul .pingjia_xingxing{
    margin-left: 5px;
    font-size: 14px;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    position:relative;
    top:3px;
}
*/
.des_ul .pingjia_last{
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}
.pingjia_last strong{
    color: #F60;
    font-weight:500;
}
.jutipingjia{
    margin-left: 110px;
    width: 600px;
}