.buy_div{
   width: 1200px;
   margin: 0px auto;
}
.buy_table{
    border: none;
}
.buy_table_head th{
    background-color: #F7F7F7;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.buy_table_head .shangjia{
    width: 160px;
    text-align: left;
}
.buy_table_head .desc{
    width: 510px;
    text-align: left;
}
.buy_table_head .price{
    width: 110px;
}
.buy_table_head .daijin{
    width: 110px;
}
.buy_table_head .yingfu{
    width: 110px;
    text-align: right;
}
.buy_table_content td{
    background-color: #FFF;
    padding: 25px 20px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px dotted #E5E5E5;
}
.a_tjdd{
display:block;
width:140px;
height:38px;
line-height:38px;
background-color:#03BA8A;
text-align:center;
margin:20px 0px 300px 900px;
border:1px solid #03BA8A;
color:#FFFFFF;
font-size:18px;
cursor:pointer;
float: right;
}
.a_tjdd:hover{
    background-color:#00FFDB;
    color:#FFFFFF;
}
.buy_div .gmcg{
    border: 1px solid #E5E5E5;
    text-align: center;
}
.gmcg_xinxi{
    margin: 100px auto;
    display: inline-block;
}
.gmcg_title{
    font-size: 24px;
    color: #333;
    font-weight: bold;
}
.gmcg_goods{
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-left: 100px;
}
.gmcg_tishi{
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
}
.button_gmcg{
    display: inline-block;
    padding: 0px 20px;
    line-height: 33px;
    color: #03BA8A;
    margin-top: 10px;
    margin-right: 20px;
}
.color_black{
    color: #666;
}
