/* CSS Document */
.box{
width:1200px;
margin:0px auto;
margin-top:10px;
}
.box_l{
width:932px;
float:left;
}
.box_l_menu{
border:1px solid #DDD;
margin-bottom:10px;
}
.box_l_menu div{float:left;}
.box_l_menu_tr{
margin:0px 15px;
border-bottom:1px dotted #ddd;
padding:5px 0px;
width: 902px;
}
.menu_tr_head{
border:1px solid #03BA8A;
padding:2px 8px;
float:left;
margin:2px 5px 2px 0px;
}
.jiantou{
height:25px;
float:left;
line-height:25px;
padding:0px 8px;
font-size:16px;
}

.menu_tr_title{
text-align:left;
float:left;
margin: 3px 5px 0px 0px;
padding:2px 4px;
color: #999;
width: 90px;
}

.box_l_menu_tr .menu_tr_ul_shuxing{
    width:900px;
}
.first_div{
    /*min-width: 440px;*/
}
.menu_tr_ul{
    float:left;
    width:790px;
}
.menu_tr_ul li{
margin:3px 30px 3px 0px;
float:left;
}
.menu_tr_ul .teshu_li{
    margin: 3px 5px 0px 0px;
}
.menu_tr_ul a{
display:block;
padding:2px 4px;
color: #000;
}
.menu_tr_ul a:hover {
color:#03BA8A;
}
.menu_tr_ul input {
width:40px;
}
.menu_tr_ul2{
width:auto;
}
.menu_tr_ul2 li{
margin:0px;
border-right:1px solid #ddd;
position:relative;
}
.menu_tr_ul2 a{
padding:8px 20px;
}
.icon_check{
background-image:url(../Images/menu_and_foot/icon.png);
background-position: -435px -128px;
width:13px;
height:13px;
display:inline-block;
float:left;
margin-top:1px;
margin-right:4px;
}
.menu_tr_check{
margin:8px 10px;
display:inline-block;
float:left;
}
.shopping_table{
width:946px;
}
.shopping{
width:300px;
height:350px;
border:1px solid #ddd;
margin-right:13px;
float:left;
margin-bottom:10px;
}
.shopping_img{
height:200px;
border-bottom: 1px solid #DDD;
}
.shopping img{
width:300px;
}
.shopping_title{
padding:10px 15px 0px 15px;
font-size:16px;
color:#000000;
height: 19px;
}
.shopping_title a{
line-height:19px;
width: 185px;
display:inline-block;
text-overflow:ellipsis;/*超出部分省略号*/
white-space: nowrap;/*强制文本一行输出*/
}
.shopping_title_name{
background-color:#999;
font-size:12px;
float:left;
padding:1px 2px;
margin:0px 5px 0px 0px;
color:#FFFFFF;
line-height:17px;
}
.shopping_tr2{
padding:10px 15px 0px 15px;
}
.shopping_tr2 .shopping_title_name{margin-top:0px;}
.shopping_tr2 span{
font-size:14px;
display:inline-block;}
.shopping_tr2 div{float:left;}

.shopping_didian img{
margin-right:7px;
width:11px;
height:17px;
}
.shopping .shopping_didian{float:right;}
.shopping .shopping_didian div{
float:right;
margin-top:2px;
}
.shopping_pricepj{
height:44px;
line-height:44px;
margin:10px 15px 0px 15px;
border-bottom: 1px dotted #DDD;
}
.shopping_price{
    width: 190px;
height:44px;
line-height:44px;
font-size:20px;
color: #F76120;
float:left;
}
.shopping_price .yuan_price{
    font-size: 12px;
    color: #999;
    padding-left: 5px;
}
.yuan_price del{
    padding-left: 3px;
}
.shopping_sale{
    display: inline-block;
    float: right;
    color: #999;
}
.shopping_pingjia{
height:12px;
width:60px;
background-image:url(../Images/public/xingxing_kong.png);
float:right;
margin-top:12px;
}
.pingjia_limian{
    background-image:url(../Images/public/xingxing.png);
    height: 12px;
}

.shopping_pjrenshu{
padding-left:10px;
color:#999;
float:right;
margin-top: 10px;}
.submit_sr{
    box-sizing:content-box;/*content-box盒子模型 border-box 怪异模型 border与padding包含其中*/
    margin: 0px 0px 0px 5px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    height: 17px;
}
.jiantou{
    display: inline-block;
    position: absolute;
    left:48px;
    top:13px;
    width: 7px;
    height: 8px;
    background-image: url(../Images/public/jiantou.png);
    background-position: 0px -820px;
}
#update .jiantou{
    left:72px;
}
.daijinquan{
    width: 19px;
    height: 19px;
    background-color: #F76120;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
    float: right;
}
.box_r{
    border: 1px solid #DDD;
    float:left;
    width:215px;
    margin-left:10px;
    padding: 10px 20px;
}
.box_r h3{
    padding-top: 3px;
    font-size: 16px;
    color:#333;
    font-weight: bolder;
}
.box_r_shopping{
    border-bottom: 1px solid #DDD;
    padding: 20px 0px;
}
.box_r_shopping img{
    width: 215px;
    max-height: 215px;
}
.box_r_shopping h4{
    margin: 10px 0px 5px 0px;
}
.box_r_shopping h4 a{
    color: #333;
    font-weight: bolder;
}
.box_r_shopping h4 a:hover{
    color: #00FFDB;
}
.box_r_shopping .guanggao_price{
    max-width: 95px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #F76120;
    margin-right: 10px;
}