.titile1{
    text-align: left;
    width: 975px;
    height: 38px;
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    text-overflow:ellipsis;/*超出部分省略号*/
    white-space: nowrap;/*强制文本一行输出*/
    display:inline-block;/*强制文本一行输出*/
}
.titile2{
    padding: 5px 0px;
    text-align: left;
    width: 975px;
    height: 22px;
    font-size: 16px;
    color: #666;
}
.touxiang{
    width: 450px;
    height: 505px;
    //border: 1px solid red;
    float: left;
    position: relative;
}
.datouxiang_div{
    height: 300px;
}
.datouxiang{
    width:450px;
}
.datouxiang_fangda{
    position:absolute;
    left:540px;
    width: 675px;
    height:450px;
}
.touxiang .xiangtouxiang_ul{
    text-align: left;
    margin-left: -10px;
} 
.touxiang .xiaotouxiang{
    width:102px;
    display: inline-block;
    margin-left: 10px;
    padding-top: 10px;
}
.xiaotouxiang a{
    width: 102px;
    height: 68px;
    display: inline-block;
}
.xiaotouxiang a:hover{
    border: 1px solid #03BA8A;
    width: 100px;
    height: 66px;
}
.touxiang .datouxiang{
    width: 450px;
}
.touxiang .xiaotouxiang img{
    //outline-width:0px;  
    //vertical-align:top;
    width: 100%;
    border: 0px;
}
.touxiang .lianxifangshi{
    margin-top: 50px;
}
.lianxifangshi ul{
    text-align: center;
}
.lianxifangshi ul li{
    margin-right: 40px;
    cursor:pointer;
    display:inline-block;
    height: 25px;
}
#div_tanchu{
    width: 180px;
    position: absolute;
}
.lianxifangshi ul .li_last{
    margin-right: 0px;
}
.touxiang .lianxifangshi img{
   width: 79px;
   height:25px;
}

#qqjt{
    width: 79px;
    height: 25px;
}
.info{
    width: 500px;
    float: left;
    margin: 0px 25px;
}

.price{
    width:500px;
    background-color: #E9E9E9;
}
.price1{
    margin: 10px 0px 0px 10px;
}
.price1 .span{
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    float: left;
}
.price1 .span1{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    float: left;
}
.price2{
    margin: 0px 0px 0px 10px;
}
.price2 .span{
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    float: left;
}
.price2 .span2{
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #F76120;
}
.xzrq{
    height: 20px;
}
.about{
    margin: 10px 0px;
    width: 500px;
    height: 20px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding:10px 0px;
}
.about div{
    float: left;
    line-height: 20px;
    width: 165.66px;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #EEE;
}
.about #pingjia{
    border:none;
}
.about span{
    color: #F76120;
}
.buy {
    margin: 20px 0px 0px 0px;;
}
.goumai{
    height: 50px;
    width:170px;
    background-color: #03BA8A;
    line-height: 50px;
    font-size:20px;
    text-align: center;
    display: block;
    color: #FFFFFF;
    float: left;
}

.goumai:hover {
    //background-color: #00FFDB;
    border:2px solid #00FFDB;
    color: #FFFFFF;
     height: 46px;
     width:166px;
}

.gouwuche{
    height: 48px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    display: block;
    float: left;
    background-image: url(../Images/goods/gouwuche.png);
    border: 1px solid #E3E3E3;
    margin: 0px 20px;
}

.gouwuche:hover {
    border:2px solid #E3E3E3;
     height: 46px;
     width:58px;
}

.shoucang{
    height: 50px;
    width:110px;
    line-height: 50px;
    font-size:12px;
    text-align: center;
    display: block;
    float: left;
}

.jianjie {
    float: left;
    width: 198px;
    height: 502px;
    border: 1px solid red;
}
.other{
    width: 975px;
}
.other_title {
    position: relative;
    padding: 20px 0px 10px;
    border-bottom: 2px solid #BBB;
}
.other_title .span1{
    font-size: 18px;
    color: #333;
    font-weight: 800;
    
}
.other_title .span2{
    font-size: 14px;
    color: #666;
    font-weight: 800;
}

.other_goods{
    position: relative;
    //padding: 10px 0px 0px;
}
.other_goods .span1{
    font-size:14px;
   //color: #666;
    padding-left: 10px;
}

.other_goods .span2{
    font-size: 14px;
    //color: #666;
    //font-weight: 800;
}
.other_goods .other_a{
    display: block;
    height: 35px;
    line-height: 35px;
}
.other_goods .other_a:hover{
    background-color: #F9F9F9;
    color: #2BB8AA;
}
.other_title .ys{
    position: absolute;
    top:25px;
    right:200px;
}
.other_title .mdj{
    position: absolute;
    top:25px;
    right:290px;
}
.other_title .hlljg{
    position: absolute;
    top:25px;
    right:400px;
}
.other_goods .ys{
    position: absolute;
    //top:10px;
    right:200px;
}
.other_goods .mdj{
    position: absolute;
    //top:10px;
    right:290px;
}
.other_goods .hlljg{
    position: absolute;
    //top:10px;
    right:400px;
    color: #F76120;
    font-weight: 700;
}
.content_title{
    margin-top: 20px;
    width: 955px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E3E3E3;
    font-size: 14px;
    padding-left: 20px;
}
.goods_shuxing{
    width: 975px;
    border: 1px solid #E3E3E3;
    padding-top: 20px;
}
.goods_shuxing div{
    padding-left: 20px;
    padding-bottom: 20px;
}
.goods_shuxing .shuxing_title{
    padding-bottom: 10px;
    font-weight: bold;
}
.goods_shuxing ul li{
    float: left;
    width: 300px;
    height: 18px;
    line-height: 18px;
    margin: 0px 15px 10px 0px;
    overflow: hidden;
    
}
.goodscontent{
    margin-top: 10px;
    width: 975px;
    border: 1px solid #E3E3E3;
}

