/* CSS Document */




.top{
background-color:#F9F9F9;
border:1px solid #2BB8AA;
}
.top .top1{
width:1200px;
margin:0px auto;
//height:29px;
//line-height:29px;
}
.top1 .span1{
    float:left;
    line-height:29px;
}
.top1 .span1 a:hover{
    color:#00FFDB;
}
.top1 .span1 a{
    padding:0px 12px;
    border-right:1px dotted;
}
.top .top1 .span2{
    float:right;
    line-height:29px;
}
.top .top1 .span2>li{
    float: left;
    display: block;
}
.top .top1 .span2>li>a{
padding:0px 12px;
border-right:1px dotted;
}

.logo{
height:102px;
width:1200px;
margin:0px auto;
overflow:hidden;
}

.box1{
margin-top:30px;
width:1200px;
/*border:1px solid #990066;*/
}
.box2{
/*height:500px;*/
width:1200px;
}
.logo .logol{
width:175px;
height:60px;
margin-top:21px;
background-image:url(../Images/menu_and_foot/logo.png);
float:left;
}
.logo .serch{
float:left;
margin:31px 0px 0px 200px;;
}

.logo .inputsr{
box-sizing:content-box;/*content-box盒子模型 border-box 怪异模型 border与padding包含其中*/
height:38px;
line-height:42px;
width:389px;
border:2px solid #03BA8A;
font-size:14px;
float:left;
padding:0px 5px;
}
.logo .submitsr{
height:42px;
width:56px;
background:#03BA8A repeat;
border:0px none;
float:left;
font-size:14px;
color:#FFFFFF;
cursor:pointer;
}
.logo .logor{
height:60px;
width:320px;
float:right;
margin-top:21px;
overflow:hidden;
}


.logor .weixin{
}
#17weixin{
    position:relative;
    float: right;
}
.weixin_erweima{
    position: absolute;
    height: 150px;
    top:110px;
    right: 50px;
    display: none;
    z-index: 1000;
}
.weixin_tubiao{
    height: 23px;
    margin-left: 10px;
}

.head_chengnuo_content{
    height: 60px;
    width: 320px;
    padding: 10px 0px;
    margin-top: 5px; 
    border-bottom: 1px solid #DDD;
    float: right;
}
.head_chengnuo_content .peifu{
    display: block;
    height: 22px;
    width: 22px;
    background-image: url("../Images/public/peifu.png");
    margin: 0px auto;
}
.head_chengnuo_content a{
    display: inline-block;
    font-size: 12px;
    color: #999;
    margin-left: 20px;
    float: right;
}
.head_chengnuo_content .tui{
    display: block;
    height: 22px;
    width: 22px;
    background-image: url("../Images/public/tui.png");
    margin: 0px auto;
}
.head_chengnuo_content .baozhengjin{
    display: block;
    height: 22px;
    width: 22px;
    margin: 0px auto;
    background-color: #2BB8AA;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: 22px;
    font-weight:bolder;
}
.menu{
height:40px;
width:1200px;
margin:0px auto;
}
.menu_l{
float:left;
width:230px;
padding-left:15px;
height:40px;
background-color:#555669;
color:#FFFFFF;
font-size:16px;
line-height:40px;
font-weight:400;
}
.menu_r{
width:1200px;
margin:0px auto;
height:40px;
line-height:40px;
width:955px;
background-color:#03BA8A;
float:left;
}

.menu li{
float:left;
font-size:18px;
font-weight:700;
}
.menu a{
color:#FFFFFF;
display:block;
padding:0px 10px;
height:40px;
line-height:40px;
width:58px;
text-align:center;
}
.menu a:link,.menu a:visited{
color:#FFFFFF;}
.menu a:hover{
background-color:#00FFDB;
}


.menu_history{
    width: 235px;
    position: absolute;
    top: 30px;
    right: 0px;
    padding: 10px 0px;
    border: 1px solid #DDD;
    color: #666;
    background: #FFF;
    display: none;
    right:148px;
    z-index: 999;
    
}
.menu_history_ul li{
    padding: 10px 13px;
    border-bottom: 1px dotted #EEE;
    overflow: hidden;
    color: #666;
}
.menu_history_ul li .a_history{
    display: block;
    padding: 0px;
    border-right: none;
}
.menu_history_ul .div_history{
    float: left;
    margin: 2px 10px 0px 0px;
    width: 90px;
    height: 60px;
}
.div_history img{
    height: 60px;
    width: auto;
}
.menu_history_ul li a h5{
    height: 32px;
    margin-bottom: 4px;
    line-height: 16px;
    overflow: hidden;
    font-weight: 400;
    font-size: 100%;
}
.menu_history_ul li a>span{
    height: 18px;
    display: block;
    line-height: 18px;
    text-overflow: ellipsis;/*超出部分省略号*/
    white-space: nowrap;/*强制文本一行输出*/
    overflow: hidden;
    margin-top: 18px;
}
.menu_history_ul li a span em{
    padding-right: 5px;
    font: 700 12px/12px arial,sans-serif;
    color: #F76120;
}
.menu_history .clear{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.menu_history .clear a{
    color: #2BB8AA;
    padding: 0px;
    border-right: none;
}







