/* CSS Document */



.view_h2{
    font-size: 18px;
}
.tuikuang_cause{
    font-size: 14px;
}
.tuikuang_select{
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
}
.tuikuang_select option{
    font-size: 14px;
    font-weight: normal;
}
.tishi{
    line-height: 18px;
    color: #666;
    padding: 8px 30px;
    background: url(../Images/public/tishi.png) 7px 8px no-repeat #fffde3;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #fcebbd;
}
.tijiao{
    padding: 8px 20px;
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 40px;
}
.quxiao{
    font-size: 14px;
    line-height: 37px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 40px;
}
.status{
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 40px;
    background-color: #03BA8A;
    color: #fff;
    display: inline-block;
}