/* CSS Document */

.view{
    width: 1148px;
    padding: 25px;
    border: 1px solid #EEE;
    min-height: 400px;
    margin: 15px auto;
    position: relative;
}

.view_h2{
    font-size: 24px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #111;
    font-weight: 800;
}
.view_h2 .h2_span{
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 14px;
    font-weight: 400;
}
.span_a{
    color: #03BA8A;
}
.span_a:hover{
    text-decoration: underline;
}




.d2{
    border: 1px solid #E5E5E5;
    overflow: hidden;
    margin-top: 10px;
}
.d2 .d2_title{
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    background: #EEE;
}
.d2 .d2_content{
    padding: 8px  10px;
}
.d2_content div{
    margin-top: 10px;
}
.d2_content span{
    width: 217px;
    text-align: left;
    margin-right: 10px;
    display: inline-block;
}
.d2 .d2_table{
    padding: 8px 10px;
}
.d2_table table{
    border-collapse: collapse;
    border-spacing: 0px;
}
.d2_table table th{
    text-align: center;
    font-weight: 700;
    padding: 3px 5px;
    font-size: 12px;
    color: #666;
    width:142px;
}
.d2_table table td{
    text-align: center;
    padding: 3px 5px;
    font-size: 12px;
    color: #666;
    width:142px;
}
.d2_table .left{
    text-align: left;
    width:80px;
}
.d2_table .teshu{
    text-align: left;
    width: 276px;
}
.d2_table .img_goods{
    width:60px;
    height: 40px;
}

.pingjia_title{
    margin-top: 20px;
    font-size: 16px;
    background: #EFEFEF;
    padding: 5px 50px;
}
.pingjia{
    border: 1px solid #F7E4A5;
    padding: 40px 0px 0px 100px;
}

.pingjia_img{
    width: 150px;
    height: 100px;
}
.pingjia_goodstitle{
    width: 150px;
    margin-top: 5px;
    color: #03BA8A;
    font-size: 14px;
}
.pingjia_top{
    margin-bottom: 80px;
}
.pingjia_top_left{
    float: left;
    width: 150px;
}
.pingjia_box{
    margin-left: 50px;
    border: 1px solid #DAF1FC;
    padding: 3px;
    float: left;
    background: #EEF8FD;
}
.pingjia_textarea{
    padding: 8px;
    width: 700px;
    border: 1px solid #CCC;
    height: 150px;
    outline: 0px none;
    display: block;
    resize: vertical;
}
.pingjia_box_szp{
    padding: 5px;
    position:relative;
}
.pingjia .hr{
    position:relative;
    left: -100px;
    width: 1148px;
    border-top:1px dashed ;
}
.des_title{
    padding: 15px 0px;
    color: #999;
    background: #F3F3F3;
    width: 130px;
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    float: left;
    /*position: absolute;
    left: 98px;
    top: 65px;*/
}
.des_ul{
    float: left;
    margin: 50px 0px 0px 80px;
    padding-bottom: 50px;
}
.des_ul ul li{
    margin: 5px 0px;
    padding: 0px;
}
.des_ul .pingjia_text{
    font-size: 14px;
    display: inline-block;
    height: 23px;
    line-height: 23px;
}
.des_ul .pingjia_xingxing{
    margin-left: 5px;
    font-size: 14px;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    position:relative;
    top:3px;
}
.des_ul .pingjia_last{
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}
.pingjia_last strong{
    color: #F60;
    font-weight:500;
}

.yingcang{
    position:absolute;
    border: 1px solid #03BA8A;
    width: 180px;
    padding: 5px;
    background-color: #ffffff;
    z-index: 100;
    display: none;
}
.yc_1{
    top:80px;
    left: 280px;
}
.yc_2{
    top:110px;
    left: 280px;
}
.yc_3{
    top:140px;
    left: 280px;
}
.yingcang strong{
    display: block;
    color: #F60;
    font-weight:500;
}

.file_tr{
    margin-bottom: 5px;
}



.file_info{
    display: inline-block;
    margin-left: 10px;
    color: #F00;
}

.button_a_lvse{
    margin:20px 400px;
    padding: 10px 30px;;
}

.tr_td1{
margin:10px 0px;
height:27px;
line-height:27px;
font-size:14px;
padding:0px 20px 0px 5px;
color:#333;
float: left;
}

.file_jia{
    padding: 3px 0px;
    border: 1px dashed #CCC;
    height: 37px;
    font-size: 45px;
    line-height: 37px;
    text-align: center;
    color: #CCC;
    text-shadow: 0px -1px #DDD;
    cursor: pointer;
    float: left;
    width: 43px;
    margin: 5px;
}
.file_tishi{
    height: 55px;
    line-height: 55px;
}
.div_goods_img{
    float: left;
    width: 43px;
    height: 43px;
    margin: 5px;
    border: 1px solid #EEE;
    text-align: center;
    position: relative;
    cursor:pointer;
}
.goods_img{
    display: inline-block;
    max-width: 43px;
    max-height: 43px;
    vertical-align: middle;
}
.div_goods_img a{
    position: absolute;
    width: 43px;
    height: 18px;
    left: 0px;
    bottom: 0px;
    background-position: 0px -40px;
    background-image: url("../Images/public/delete_icon.png");
    display: none;
}
.empty_img{
    width:0px;
    height: 100%;
    vertical-align: middle;
}
.tr_td1 i{
    font-size: 12px;
}