/* CSS Document */

/* 默认样式设置*/
/* -moz :火狐私有属性；-webkit :chrome、safari私有属性* -ms IE私有属性*/
body,div,ul,li,a,img,input,form,h1,h2,h3,h4,h5,h6,p,table,tr,td{padding:0px;margin:0px;}
div,ul,li,a,img,input,form,h1,h2,h3,h4,h5,h6,p{
    overflow:hidden;
}
input{box-sizing: content-box;}
img{border:none;}
body{
font-size:12px;
color:#666;
font-family:Arial, Helvetica, sans-serif,新宋体;
text-align:center;
}
div{text-align:left;}
ul li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
table,td{border:none; border-collapse:collapse;}

/*全局css*/
/*字体颜色*/
.red{
color:#F76120;
}
.green{
    color:#2BB8AA;//浅绿色#00FFDB
}
/*文字自动换行*/
.warp{
word-break:break-all;}
/*去边框*/
.noborder{
border:none;
}
/*链接样式*/
a{
color:#666;
cursor:pointer;//手形
}
a:link,a:visited {
text-decoration:none;
}
a:hover{
color:#2BB8AA;
}

.page_foot{
    margin-top: 20px;
    background-color: #f6f6f6;
}
.page_foot div{
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.page_foot .num, .page_foot .current{
    padding: 4px 8px;
    border: 1px solid #777;
    margin-left: 3px;
}

.page_foot .current{
    color: #00FFDB;
}

.page_foot .next,.page_foot .prev{
    border: 1px solid #777;
    padding: 4px 8px;
    margin: 0px 5px;
}
/*按钮样式（灰色）*/
.button_a{
    height: 33px;
    border: 1px solid #AAA;
    background-image: url(../Images/public/button_background1.jpg);
    display: inline-block;
    cursor:pointer;//手形
}
/*按钮样式鼠标放上*/
.button_a:hover{
    background-image: url(../Images/public/button_background2.jpg);
}

/*按钮样式（绿色按钮）*/
.button_a_lvse{
    border: 1px solid #AAA;
    background-color: #00FFDB;
    display: inline-block;
    cursor:pointer;//手形
}
/*按钮样式鼠标放上*/
.button_a_lvse:hover{
    background-color:#2BB8AA;
    color: #EEE;
}

/*超出部分的文字用省略号代替*/
.shenglue{
    text-overflow:ellipsis;/*超出部分省略号*/
    white-space: nowrap;/*强制文本一行输出*/
}
