
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/goods.css">
<!--begin 日历 -->
<link href="__PUBLIC_COMMON__/Css/calendar.css" rel="stylesheet" type="text/css"/>
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC_COMMON__/Js/calendar.js"></script>
<!-- end 日历 -->
<title>无标题文档</title>
</head>

<body>
<include file='Public/menu'/>
<div style="width:1200px;margin:20px auto;">
    <div>
     <div class="titile1">[<{$goods['cat_name']}>]<{$goods['goods_name']}></div>
     <!--<div class="titile2"><{$goods['user_name']}></div>  不要商家名称-->
    <div class="touxiang">
        <div class="datouxiang_div"><img class="datouxiang" src="<{$goods['goods_img']}>"/></div>
        <ul class="xiangtouxiang_ul">
            <li class="xiaotouxiang"><a href="javascript:void(0)" ><img src="<{$goods['goods_img']}>"/></a></li>
            <volist name="img_qita" id="vo">
            <li class="xiaotouxiang"><a href="javascript:void(0)"><img src="<{$vo}>" /></a></li>
            </volist>
        </ul>  
        <div class="lianxifangshi">
            <ul>
                <li id="dh"><img src="__PUBLIC_HOME__/Images/public/dianhua.png" /></li>
                <li id="wx"><img src="__PUBLIC_HOME__/Images/public/weixin.png" /></li>
                <li id="em"><img src="__PUBLIC_HOME__/Images/public/youxiang.png" /></li>
                <li class="li_last"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=<{$goods['qq']}>&site=qq&menu=yes"><img id="qqjt" src="__PUBLIC_HOME__/Images/public/qqjt.jpg" alt="给我发消息" title="给我发消息"/></a></li>
                
            </ul>
        </div>
    </div>
    <div class="info">
        <div class="price">
            <div class="price1"><div class="span">价格:</div><div class="span1">&yen;&nbsp;<s><{$goods['yuan_price']}></s></div></div>
            <div class="price2"><div class="span">婚啦啦价:</div><div class="span2">&yen;&nbsp;<{$goods['price']}></div></div>
        </div>
        <div class="about">
            <div><a href="#">已售：<span>10</span></a></div>
            <div><a href="#"><span>5</span>分</a></div>
            <div id="pingjia"><a href="#"><span><{$goods['comment_number']}></span>人评价</a></div>
        </div>
        <div class="xzrq">选择日期：  绿色：已选  白色：未选</div>
    <table class="biao" width="500px" style="table-layout: fixed; ">
                            <tbody>
                            <tr>
                                <td class="calTit" colSpan=7 style="height:30px;padding-top:3px;text-align:center;">
    
                                    <a href="#" title="上一年" id="nianjian" class="ymNaviBtn lsArrow"></a>
                                    <a href="#" title="上一月" id="yuejian" class="ymNaviBtn lArrow"></a>
    
                                    <div style="width:250px; float:left; padding-left:90px;">
                                                        <span id="dateSelectionRili" class="dateSelectionRili"
                                                              style="cursor:hand;color: white; border-bottom: 1px solid white;"
                                                              onclick="dateSelection.show()">
                                                        <span id="nian" class="topDateFont"></span><span
                                                                class="topDateFont">年</span><span id="yue"
                                                                                                  class="topDateFont"></span><span
                                                                class="topDateFont">月</span>
                                                        <span class="dateSelectionBtn cal_next"
                                                              onclick="dateSelection.show()">▼</span></span> &nbsp;&nbsp;<font id=GZ
                                                                                                                               class="topDateFont"></font>
                                    </div>
                                    <!--新加导航功能-->
                                    <div style="left: 250px; display: none;" id="dateSelectionDiv">
                                        <div id="dateSelectionHeader"></div>
                                        <div id="dateSelectionBody">
                                            <div id="yearList">
                                                <div id="yearListPrev" onClick="dateSelection.prevYearPage()">&lt;</div>
                                                <div id="yearListContent"></div>
                                                <div id="yearListNext" onClick="dateSelection.nextYearPage()">&gt;</div>
                                            </div>
                                            <div id="dateSeparator"></div>
                                            <div id="monthList">
                                                <div id="monthListContent"><span id="SM0" class="month"
                                                                                 onclick="dateSelection.setMonth(0)">1</span><span
                                                        id="SM1" class="month" onClick="dateSelection.setMonth(1)">2</span><span
                                                        id="SM2" class="month" onClick="dateSelection.setMonth(2)">3</span><span
                                                        id="SM3" class="month" onClick="dateSelection.setMonth(3)">4</span><span
                                                        id="SM4" class="month" onClick="dateSelection.setMonth(4)">5</span><span
                                                        id="SM5" class="month" onClick="dateSelection.setMonth(5)">6</span><span
                                                        id="SM6" class="month" onClick="dateSelection.setMonth(6)">7</span><span
                                                        id="SM7" class="month" onClick="dateSelection.setMonth(7)">8</span><span
                                                        id="SM8" class="month" onClick="dateSelection.setMonth(8)">9</span><span
                                                        id="SM9" class="month" onClick="dateSelection.setMonth(9)">10</span><span
                                                        id="SM10" class="month" onClick="dateSelection.setMonth(10)">11</span><span
                                                        id="SM11" class="month curr" onClick="dateSelection.setMonth(11)">12</span>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div id="dateSelectionBtn">
                                                <div id="dateSelectionTodayBtn" onClick="dateSelection.goToday()">今天</div>
                                                <div id="dateSelectionOkBtn" onClick="dateSelection.go()">确定</div>
                                                <div id="dateSelectionCancelBtn" onClick="dateSelection.hide()">取消</div>
                                            </div>
                                        </div>
                                        <div id="dateSelectionFooter"></div>
                                    </div>
                                    <a href="#" id="nianjia" title="下一年" class="ymNaviBtn rsArrow" style="float:right;"></a>
                                    <a href="#" id="yuejia" title="下一月" class="ymNaviBtn rArrow" style="float:right;"></a>
    
                                </td>
                            </tr>
                            
                            <tr class="calWeekTit" style="font-size:12px; height:20px;text-align:center;">
                                <td width="100" class="red">星期日</td>
                                <td width="100">星期一</td>
                                <td width="100">星期二</td>
                                <td width="100">星期三</td>
                                <td width="100">星期四</td>
                                <td width="100">星期五</td>
                                <td width="100" class="red">星期六</td>
                            </tr>
                            <SCRIPT language="JavaScript">
    
                                var gNum;
                                for (var i = 0; i < 6; i++) {
                                    document.write('<tr align=center height="38" id="tt">');
                                    for (var j = 0; j < 7; j++) {
                                        gNum = i * 7 + j ;
                                        document.write('<td  id="GD' + gNum + '" on="0" ><font  id="SD' + gNum + '" style="font-size:14px;font-family:Microsoft YaHei;font-weight: bold;"');
                                        if (j == 0)  document.write('color=red');
                                        if (j == 6)
                                            if (i % 2 == 1)  document.write('color=red');
                                            else  document.write('color=red');
                                        document.write('  TITLE="">  </font><br><font  id="LD' + gNum + '"  size=2  style="white-space:nowrap;overflow:hidden;cursor:default;color: #999;">  </font></td>');
                                    }
                                    document.write('</tr>');
                                }
                            </SCRIPT>
                            </tbody>
                        </table>
        <div class="buy">
            <a href="javascript:void(0)" class="goumai">立即购买 </a>
            <a href="javascript:void(0)" class="gouwuche" title="加入购物车"> </a>
            <a href="javascript:void(0)" class="shoucang">收藏商品（10000）</a>
              <a href="javascript:void(0)" class="shoucang">分享</a>
        </div>
    </div>
     <div class="jianjie">商家简介,服务承诺等</div>
     </div>
     <div class="other">
         <ul>
             <li class="other_title" id="li_title"> <span class="span1">该商家的其它商品</span>
                 <span class="span2 hlljg">婚啦啦价</span><span class="span2 mdj">门 店 价</span><span class="span2 ys">已售</span>
                 </li>
                 <div id="div_li">   </div>
         </ul>
         <div class="page_foot"><{$page_foot}></div>
     </div>
    <div class="content_title">商品详情</div>
    <div class="goods_shuxing">
        <div>商家：<{$goods['user_name']}></div>
        <div class="shuxing_title">产品属性：</div>
        <div>
        <ul>
            <volist name="shuxing" id="vo">
            <li><{$key}> ：<{$vo}></li>
            </volist>
        </ul>
        </div>
    </div>
    <div class="goodscontent"><{$goods['goods_desc']}></div>
</div>
<script src="__PUBLIC_HOME__/Js/goods.js" type="text/javascript"></script>
<script type="text/javascript">
    //检测是否登录
    var is_login='<{$is_login}>';
    //弹出联系方式
    $('#dh').bind('mouseover',function(e){
        var xx=e.pageX+10;
        var yy=e.pageY+10;
        if(is_login==1){
            var dh='<div id="div_tanchu"><button type="button">电话：<{$goods["mobile_phone"]}></button></div>';
        }else{
            var dh='<div id="div_tanchu"><button type="button">请登录获取联系方式</button></div>';
        }
        $('body').append(dh);
        $('#div_tanchu').css({top: yy, left: xx});
    });
    $('#wx').bind('mouseover',function(e){
        var xx=e.pageX+10;
        var yy=e.pageY+10;
        if(is_login==1){
            var dh='<div id="div_tanchu"><button type="button">微信：<{$goods["weixin"]}></button></div>';
        }else{
            var dh='<div id="div_tanchu"><button type="button">请登录获取联系方式</button></div>';
        }
        $('body').append(dh);
        $('#div_tanchu').css({top: yy, left: xx});
    });
    $('#em').bind('mouseover',function(e){
        var xx=e.pageX+10;
        var yy=e.pageY+10;
        
        if(is_login==1){
            var dh='<div id="div_tanchu"><button type="button">email：<{$goods["email"]}></button></div>';
        }else{
            var dh='<div id="div_tanchu"><button type="button">请登录获取联系方式</button></div>';
        }
        $('body').append(dh);
        $('#div_tanchu').css({top: yy, left: xx});
    });
    
    //鼠标移开 删除弹出
    $('#dh,#wx,#em,.li_last').bind('mouseout',function(){
        $('#div_tanchu').remove();
    });
    
    //如果没登录 点击QQ弹出请先登录
    $('.li_last>a').bind('click',function(event){
        var xx=event.pageX+10;
        var yy=event.pageY+10;
        if(is_login==0){
            event.preventDefault();
            var dh='<div id="div_tanchu"><button type="button">请先登录</button></div>';
            $('body').append(dh);
            $('#div_tanchu').css({top: yy, left: xx});
        }
    });
    
</script>