
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/goods.css">
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
<!--begin 日历 -->
<link href="__PUBLIC_COMMON__/Css/calendar.css" rel="stylesheet" type="text/css"/>
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC_COMMON__/Js/calendar.js"></script>
<!-- end 日历 -->
</head>

<body>
<include file='Public/menu'/>
<div style="width:1200px;margin:20px auto;">
    <div>
     <div class="titile1">[<{$goods['cat_name']}>]<{$goods['goods_name']}></div>
     <!--<div class="titile2"><{$goods['user_name']}></div>  不要商家名称-->
    <div class="touxiang">
        <div class="datouxiang_div"><img class="datouxiang" src="<{$goods['goods_img']}>"/></div>
        <ul class="xiangtouxiang_ul">
            <li class="xiaotouxiang"><a href="javascript:void(0)" ><img src="<{$goods['goods_img']}>"/></a></li>
            <volist name="img_qita" id="vo">
            <li class="xiaotouxiang"><a href="javascript:void(0)"><img src="<{$vo}>" /></a></li>
            </volist>
        </ul>  
        <div class="lianxifangshi">
            <ul>
                <li id="dh"><img src="__PUBLIC_HOME__/Images/public/dianhua1.png" /></li>
                <li id="wx"><img src="__PUBLIC_HOME__/Images/public/weixin1.png" /></li>
                <li id="em"><img src="__PUBLIC_HOME__/Images/public/youxiang1.png" /></li>
                <li class="li_last"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=<{$goods['qq']}>&site=qq&menu=yes"><img id="qqjt" src="__PUBLIC_HOME__/Images/public/qqjt.jpg"/></a></li>
                
            </ul>
        </div>
    </div>
    <div class="info">
        <div class="price">
            <div class="price1"><div class="span">价格:</div><div class="span1">&yen;&nbsp;<s><{$goods['yuan_price']}></s></div></div>
            <div class="price2"><div class="span">婚啦啦价:</div><div class="span2">&yen;&nbsp;<{$goods['price']}></div></div>
        </div>
        <div class="about">
            <div><a href="#">已售：<span>10</span></a></div>
            <div><a href="#"><span>5</span>分</a></div>
            <div id="pingjia"><a href="#"><span><{$goods['comment_number']}></span>人评价</a></div>
        </div>
        <div class="xzrq">选择日期：  绿色：已选  白色：未选</div>
    <table class="biao" width="500px" style="table-layout: fixed; ">
                            <tbody>
                            <tr>
                                <td class="calTit" colSpan=7 style="height:30px;padding-top:3px;text-align:center;">
    
                                    <a href="#" title="上一年" id="nianjian" class="ymNaviBtn lsArrow"></a>
                                    <a href="#" title="上一月" id="yuejian" class="ymNaviBtn lArrow"></a>
    
                                    <div style="width:250px; float:left; padding-left:90px;">
                                                        <span id="dateSelectionRili" class="dateSelectionRili"
                                                              style="cursor:hand;color: white; border-bottom: 1px solid white;"
                                                              onclick="dateSelection.show()">
                                                        <span id="nian" class="topDateFont"></span><span
                                                                class="topDateFont">年</span><span id="yue"
                                                                                                  class="topDateFont"></span><span
                                                                class="topDateFont">月</span>
                                                        <span class="dateSelectionBtn cal_next"
                                                              onclick="dateSelection.show()">▼</span></span> &nbsp;&nbsp;<font id=GZ
                                                                                                                               class="topDateFont"></font>
                                    </div>
                                    <!--新加导航功能-->
                                    <div style="left: 250px; display: none;" id="dateSelectionDiv">
                                        <div id="dateSelectionHeader"></div>
                                        <div id="dateSelectionBody">
                                            <div id="yearList">
                                                <div id="yearListPrev" onClick="dateSelection.prevYearPage()">&lt;</div>
                                                <div id="yearListContent"></div>
                                                <div id="yearListNext" onClick="dateSelection.nextYearPage()">&gt;</div>
                                            </div>
                                            <div id="dateSeparator"></div>
                                            <div id="monthList">
                                                <div id="monthListContent"><span id="SM0" class="month"
                                                                                 onclick="dateSelection.setMonth(0)">1</span><span
                                                        id="SM1" class="month" onClick="dateSelection.setMonth(1)">2</span><span
                                                        id="SM2" class="month" onClick="dateSelection.setMonth(2)">3</span><span
                                                        id="SM3" class="month" onClick="dateSelection.setMonth(3)">4</span><span
                                                        id="SM4" class="month" onClick="dateSelection.setMonth(4)">5</span><span
                                                        id="SM5" class="month" onClick="dateSelection.setMonth(5)">6</span><span
                                                        id="SM6" class="month" onClick="dateSelection.setMonth(6)">7</span><span
                                                        id="SM7" class="month" onClick="dateSelection.setMonth(7)">8</span><span
                                                        id="SM8" class="month" onClick="dateSelection.setMonth(8)">9</span><span
                                                        id="SM9" class="month" onClick="dateSelection.setMonth(9)">10</span><span
                                                        id="SM10" class="month" onClick="dateSelection.setMonth(10)">11</span><span
                                                        id="SM11" class="month curr" onClick="dateSelection.setMonth(11)">12</span>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div id="dateSelectionBtn">
                                                <div id="dateSelectionTodayBtn" onClick="dateSelection.goToday()">今天</div>
                                                <div id="dateSelectionOkBtn" onClick="dateSelection.go()">确定</div>
                                                <div id="dateSelectionCancelBtn" onClick="dateSelection.hide()">取消</div>
                                            </div>
                                        </div>
                                        <div id="dateSelectionFooter"></div>
                                    </div>
                                    <a href="#" id="nianjia" title="下一年" class="ymNaviBtn rsArrow" style="float:right;"></a>
                                    <a href="#" id="yuejia" title="下一月" class="ymNaviBtn rArrow" style="float:right;"></a>
    
                                </td>
                            </tr>
                            
                            <tr class="calWeekTit" style="font-size:12px; height:20px;text-align:center;">
                                <td width="100" class="red">星期日</td>
                                <td width="100">星期一</td>
                                <td width="100">星期二</td>
                                <td width="100">星期三</td>
                                <td width="100">星期四</td>
                                <td width="100">星期五</td>
                                <td width="100" class="red">星期六</td>
                            </tr>
                            <SCRIPT language="JavaScript">
    
                                var gNum;
                                for (var i = 0; i < 6; i++) {
                                    document.write('<tr align=center height="38" id="tt">');
                                    for (var j = 0; j < 7; j++) {
                                        gNum = i * 7 + j ;
                                        document.write('<td  id="GD' + gNum + '" on="0" ><font  id="SD' + gNum + '" style="font-size:14px;font-family:Microsoft YaHei;font-weight: bold;"');
                                        if (j == 0)  document.write('color=red');
                                        if (j == 6)
                                            if (i % 2 == 1)  document.write('color=red');
                                            else  document.write('color=red');
                                        document.write('  TITLE="">  </font><br><font  id="LD' + gNum + '"  size=2  style="white-space:nowrap;overflow:hidden;cursor:default;color: #999;">  </font></td>');
                                    }
                                    document.write('</tr>');
                                }
                            </SCRIPT>
                            </tbody>
                        </table>
       
        <form name="buy" action="<{:U('Goods/buy')}>" method="get">
            <input name="goods_id" type="hidden" value="<{$goods_id}>" />
            <input name="server_day" type="hidden" />
        </form>
        
        
        <div class="buy" id="buy">
            <a href="javascript:void(0)" class="goumai">立即购买 </a>
            <a href="javascript:void(0)" class="gouwuche" title="加入购物车" id="gouwuche"> </a>
            <a href="javascript:void(0)" class="shoucang">收藏商品（10000）</a>
              <a href="javascript:void(0)" class="shoucang">分享</a>
        </div>
        <div class="buy buy_clone" id="buy_clone">请选择日期<a class="mini_close" id="tishi_close" href="javascript:void(0)">×</a></div>
    </div>
     <div class="dianpujieshao">
         <div class="jianjie" >
         商家承诺
         <div class="chengnuo_content">
             <a href="#">
             <i class="peifu"></i>
             双倍赔付
             </a>
             <a href="#">
             <i class="tui"></i>
             随时退
             </a>
             <a href="#" style="margin-right: 0px;">
                 <i class="baozhengjin">
                     保
                 </i>
                 保证金
             </a>
         </div>
         </div>
         <ul class="dianpujieshao_pingfen">
             <li>
                 <div>描述</div>
                 <div class="pingfen_jt"><{$pingfen_fl[0]}></div>
             </li>
             <li>
                 <div>服务</div>
                 <div class="pingfen_jt"><{$pingfen_fl[1]}></div>
             </li>
             <li style="border-right: none;">
                 <div>专业</div>
                 <div  class="pingfen_jt"><{$pingfen_fl[2]}></div>
             </li>
         </ul>
         <div class="jianjie">
         商家介绍
         <div><a href="#" class="jianjie_content">&nbsp;&nbsp;&nbsp;&nbsp;<{$goods['shop_introduce']|substr=###,0,600}><{:strlen($goods['shop_introduce'])>600 ? '……':''}></a></div>
         </div>
     </div>
     </div>
     <div class="other">
         <ul>
             <li class="other_title" id="li_title"> <span class="span1">该商家的其它商品</span>
                 <span class="span2 hlljg">婚啦啦价</span><span class="span2 mdj">门 店 价</span><span class="span2 ys">已售</span>
                 </li>
                 <div id="div_li">   </div>
         </ul>
         <div class="page_foot" id="page_foot_1"><{$page_foot}></div>
     </div>
    <a name='maodian_pingjia' id='maodian_pingjia'>&nbsp;</a>
    <div class="content_title"><ul>
            <li class="spxq">商品详情</li>
            <li class="ljpj">累计评价</li>
        </ul></div>
    <div id="spxq">
    <div class="goods_shuxing">
        <div>商家：<{$goods['user_name']}></div>
        <div class="shuxing_title">产品属性：</div>
        <div>
        <ul>
            <volist name="shuxing" id="vo">
            <li><{$key}> ：<{$vo}></li>
            </volist>
        </ul>
        </div>
    </div>
    <div class="goodscontent"><{$goods['goods_desc']}></div>
    </div>
    <div class="pinglun">
        <div class="zhengtifenshu">
            <span class="zhengtipingjia">整体评价:</span>
            <span class="score"><{$goods['score']}></span><span class="fen">分</span><span class="shopping_pingjia"><span class="pingjia_limian" style="width: <{$goods['score']|xingxing_baifenbi}>;"></span></span>共<strong><{$goods['comment_number']}></strong>人评价
        </div>
        <div class="leijipinglun">
            <ul id='leijipinglun'>
                <!--
                <volist name="list_pinglun" id="vo">
                <li>
                    <div class="pinglun_left">
                        <img src="<{$vo['head_url']}>" class="img">
                        <p class="user_name"><{$vo['user_name']}></p>
                    </div>
                    <div class="pinglun_right">
                        <div class="xingxing_div">
                            <span class="pingjia_xiao"><span class="pingjia_xiao_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></span></span>
                            <span><{$vo['updated']|date='Y-m-d',###}></span>
                        </div>
                        <div class="pinglun_text"><{$vo['appraise']}></div>
                        <div class="pinglun_img">
                            <volist name="vo['appraise_img']" id='vo1'>
                                <a><img src="<{$vo1}>" /></a>
                            </volist>
                        </div>
                    </div>
                </li>
                </volist>
                -->
            </ul>
            <!--<div class="page_foot" id='page_foot_pinglun'><{$page_foot_pinglun}></div>-->
            <div class="page_foot" id='page_foot_pinglun'></div>
        </div>
    </div>
</div>
<div id="overlay"></div><!--遮罩层div-->
<div class="mini_login" id="mini_login">
    <div class="mini_head">账号登录<a class="mini_close" id="mini_close" href="javascript:void(0)" title="关闭此窗口">×</a></div>
    <div class="mini_div">
        <include file="Login:mini_login" />
    </div>
</div>


<div class="gouwuche_join" id="gouwuche_join">
    <a  id="gouwuche_guanbi" class="gouwuche_guanbi" hidefocus="true"></a>
<div class="gouwuche_body">
	<div id="gouwuche_top" class="gouwuche_top">
            
		<div class="gouwuche_top_left">
                    <i></i>
			<h5>成功加入购物车</h5>

			<p>购物车内共有<strong>1</strong>种商品</p>

		</div>

		<div class="gouwuche_top_right">
			<a href="javascript:void(0);"  class="gouwuche_top_right_a1"><<继续浏览</a>
                        <a href="<{:U('Member/cart')}>"  class="gouwuche_top_right_a2">去购物车结算>></a>
		</div>

 	</div>     
</div>
    </div>
<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
<script src="__PUBLIC_HOME__/Js/goods.js" type="text/javascript"></script>
<script type="text/javascript">
    //检测是否登录
    var is_login=check_login();
    //弹出联系方式
    $('#dh').bind('mouseover',function(e){
        var xx=e.pageX+10;
        var yy=e.pageY+10;
        is_login=check_login();
        if(is_login!=0){
            var dh='<div id="div_tanchu"><button type="button">电话：<{$goods["mobile_phone"]}></button></div>';
        }else{
            var dh='<div id="div_tanchu"><button type="button">点我登录获取电话</button></div>';
            $('#dh').bind('click',function(e){
                showOverlay();
            });
        }
        $('body').append(dh);
        $('#div_tanchu').css({top: yy, left: xx});
    });
    $('#wx').bind('mouseover',function(e){
        var xx=e.pageX+10;
        var yy=e.pageY+10;
        is_login=check_login();
        if(is_login!=0){
            var dh='<div id="div_tanchu"><button type="button">微信：<{$goods["weixin"]}></button></div>';
        }else{
            var dh='<div id="div_tanchu"><button type="button">点我登录获取微信</button></div>';
            $('#wx').bind('click',function(e){
                showOverlay();
            });
        }
        $('body').append(dh);
        $('#div_tanchu').css({top: yy, left: xx});
    });
    $('#em').bind('mouseover',function(e){
        var xx=e.pageX+10;
        var yy=e.pageY+10;
        is_login=check_login();
        if(is_login!=0){
            var dh='<div id="div_tanchu" style="width:220px;"><button type="button">email：<{$goods["email"]}></button></div>';
        }else{
            var dh='<div id="div_tanchu"><button type="button">点我登录获取email</button></div>';
            $('#em').bind('click',function(e){
                showOverlay();
            });
        }
        $('body').append(dh);
        $('#div_tanchu').css({top: yy, left: xx});
    });
    
    //鼠标移开 删除弹出
    $('#dh,#wx,#em,.li_last').bind('mouseout',function(){
        $('#div_tanchu').remove();
    });
    
    //如果没登录 点击QQ弹出请先登录,并且title内容改变
    if(is_login==0){
        $('.li_last>a').attr('title','点我登录qq交流');
    }else{
        $('.li_last>a').attr('title','给我发QQ消息');
    }
    $('.li_last>a').bind('click',function(event){
        is_login=is_login();
        if(is_login==0){
            event.preventDefault();
            showOverlay();
        }
    });
    //点击购买
    $('.goumai').bind('click',function(){
        if($('input[name=server_day]').val()==''){
            $('#buy').css('display','none');
            $('#buy_clone').css('display','block');
        }else{
            is_login=check_login();
            if(is_login!=0){
                $('form[name=buy]').submit();
                }else{
                    //通过请求让控制器记录$_SESSION['ref']
                    var server_day=$('input[name=server_day]').val();
                    var url='/Home/Goods/buy/server_day/'+server_day+'/goods_id/'+$('input[name=goods_id]').val()+'.html';
                    $.ajax({
                        type:'post',
                        async : true,
                         url:url,
                         datatype:'json'
                    });
                    
                    showOverlay('mini_login');  
                }
            }
    });
//点击加入购物车
$('#gouwuche').bind('click',function(){
    var is_success=true;
        if($('input[name=server_day]').val()==''){
            $('#buy').css('display','none');
            $('#buy_clone').css('display','block');
        }else{
            is_login=check_login();
            if(is_login!=0){
                 var server_day=$('input[name=server_day]').val();
                    var url='/Home/Goods/cart_join.html';
                    var data={
                        server_day:server_day,
                        goods_id:$('input[name=goods_id]').val(),
                        check:"cart_join"
                    };
                    $.ajax({
                        type:'post',
                        async : false,
                        url:url,
                        data:data,
                        datatype:'json',
                        success:function(msg){
                            if(msg=='9'){
                                is_success=false;
                                alert('该商品的该日期你已经加入购物车，请重新选择日期');                                
                            }
                            if(msg=='-1'){
                                is_success=false;
                                alert('加入购物车失败，请重新加入');                                
                            }
                        }
                    });
                    if(is_success){
                        showOverlay('gouwuche_join');  
                    }
                }else{ 
                    showOverlay('mini_login');  
                }
            }
    });
</script>