<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/index.css">
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 

</head>
<body>
<include file='Public/menu'/>
<div style="margin: 0px auto;width:1200px;">
<div style="width:800px;margin: 10px 0px;border: 1px solid #999;padding: 10px 20px;">
   <{$data['text']}>
</div>
</div>
<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('Index/menu')}>"></iframe>


