<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/order_appraise.css">
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script>

</head>

<body>
    <include file='Public/menu'/>
    <div class="view">
        <h2 class="view_h2">
            交易成功！服务等您评价
            <span class="h2_span"><a href='<{:U("Order/index")}>' class="span_a">返回我的订单</a></span>
        </h2>

        <div class="d2">
            <div class="d2_title">请您评价</div>
            <div class="d2_content">
                <div>买家小伙伴们都很关注你的点评，帮助他们购买噢</div>
                <div>亲，交易成功后，如果商品出现问题，您可以继续使用保障卡，享受相应的售后服务哦。 </div>
            </div>
            <div class="d2_title">商家信息</div>
            <div class="d2_content"><span>昵称：<{$order['shop_name']}></span> <span>真实姓名：<{$order['true_name']}> </span><span>城市：<{$order['location']}> </span><span>联系电话：<{$order['mobile_phone']}> </span></div>
            <div class="d2_title">商品信息</div>
            <div class="d2_table">
                <table>
                    <tr><th class="left">商品图片</th><th class="teshu">商品名称</th><th>价格</th><th>服务日期</th><th>状态</th><th>支付金额</th></tr>
                    <tr><td class="left"><img src="<{$order['goods_img']}>" class="img_goods" /></td><td class="teshu"><{$order['goods_name']}></td><td>&yen;<{$order['price']}></td><td><{$order['server_day']|date_geshi1=###}></td><td><{:order_status($order['pay_status'],$order['status'])['status']}></td><td>&yen;<{$order['price']}></td></tr>
                </table>
            </div>
        </div>
        <div class='pingjia_title'>评价服务</div>
        <div class="pingjia">
            <div class="pingjia_top">
                <div class="pingjia_top_left">
                    <img class="pingjia_img" src="<{$order['goods_img']}>" />
                    <div class="pingjia_goodstitle"><{$order['goods_name']}></div>
                </div>
                <div class="pingjia_box">
                    <textarea class="pingjia_textarea"></textarea>
                    <div class="pingjia_box_szp">
                        <div>晒照片</div>
                    </div>
                </div>
            </div>
            <div class="hr"></div>
            <div>
                <h2 class='des_title'>商家动态评分</h2>
                <div class="des_ul">
                    <ul>
                        <li>服务与描述相符</li>
                        <li>商家的服务态度</li>
                        <li>商家的专业水平</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

   

<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
<script src="__PUBLIC_HOME__/Js/order_queren.js" type="text/javascript"></script>


