
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/hunliren_shangjiaxinxi.css">
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
</head>

<body>
    <include file='Public/menu' />
    <include file='Public/hunliren_left' />
    <div class="right">
        <div class="right_head">
            <div class="hlr_touxiang">
                <img src="<{$touxiang_url}>" class="img" />
                <img src='__PUBLIC_HOME__/Images/public/circle_f6f6f6.png' class="img_circle" />
            </div>
            <div class="hlr_name"><{$day_time}>， <{$user_name}>（<{$server_content}>）</div>
            <a  href="<{:U('Member/release_goods')}>">发布商品</a>
        </div>
        <div class="title">
            商家资料
        </div>
        <div class="content">
            <ul>
                <li>会员名： <{$user_name}></li>
                <li>商家注册时间： <{$reg_time}></li>
                <li>性别： <{$sex}></li>
                <li>服务形式： <{$server_form}></li>
                <li>服务岗位： <{$server_content}></li>
                <li>所在城市： <{$location}></li>
                <li>地址： <{$address}></li>
                <li>QQ： <{$qq}></li>
                <li>微信： <{$weixin}></li>
                <li>email： <{$email}></li>
            </ul>
        </div>
    </div>
    
    
    
    
    
    
    
    
    
</div>
</body>
</html>
        
