<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/index.css">
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 

</head>
<body>
<include file='Public/menu'/>
<div class="lunbo"><!--//轮播-->
<div class="lunbo_l">
<ul>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">策划师</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/1/form/1.html">团队</a></td><td><a target="_blank" href="/Home/Category/index/cid/1/form/0.html">个人</a></td><td><a target="_blank" href="/Home/Category/index/cid/1/shuxing/风格-中式.html">中式</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/1/shuxing/风格-西式.html">西式</a></td><td><a target="_blank" href="/Home/Category/index/cid/1/shuxing/风格-定制.html">定制</a></td><td><a target="_blank" href="/Home/Category/index/cid/1/shuxing/风格-户外.html">户外</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">司仪</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/2/sex/0.html">男性</a></td><td><a target="_blank" href="/Home/Category/index/cid/2/sex/1.html">女性</a></td><td><a target="_blank" href="/Home/Category/index/cid/2/shuxing/主持形式-搞笑幽默.html">幽默</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/2/shuxing/主持形式-优雅大方.html">优雅</a></td><td><a target="_blank" href="/Home/Category/index/cid/2/shuxing/主持形式-大气磅礴.html">大气</a></td><td><a target="_blank" href="/Home/Category/index/cid/2/shuxing/主持形式-综合多变.html">综合</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">布置</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/3/shuxing/色系-粉色.html">粉色</a></td><td><a target="_blank" href="/Home/Category/index/cid/3/shuxing/色系-蓝色.html">蓝色</a></td><td><a target="_blank" href="/Home/Category/index/cid/3/shuxing/色系-黄色.html">黄色</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/3/shuxing/布置形式-桁架和喷绘.html">喷绘</a></td><td><a target="_blank" href="/Home/Category/index/cid/3/shuxing/布置形式-支架和纱幔.html">纱幔</a></td><td><a target="_blank" href="/Home/Category/index/cid/3/shuxing/风格-户外.html">户外</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">摄像</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/4/shuxing/画质-超高清.html">超高清</a></td><td><a target="_blank" href="/Home/Category/index/cid/4/shuxing/画质-高清.html">高清</a></td><td><a target="_blank" href="/Home/Category/index/cid/4/shuxing/画质-标清.html">标清</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/4/shuxing/拍摄形式-大摇臂.html">大摇臂</a></td><td><a target="_blank" href="/Home/Category/index/cid/4/shuxing/拍摄形式-小摇臂.html">小摇臂</a></td><td><a target="_blank" href="/Home/Category/index/cid/4/shuxing/拍摄形式-航拍.html">航拍</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">摄影</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/5/shuxing/镜头数-多镜头.html">多镜头</a></td><td><a target="_blank" href="/Home/Category/index/cid/5/shuxing/镜头数-单镜头.html">单镜头</a></td><td><a target="_blank" href="/Home/Category/index/cid/5/shuxing/拍照设备-普通单反.html">普通</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/5/shuxing/拍照设备-半画幅单反.html">半画幅</a></td><td><a target="_blank" href="/Home/Category/index/cid/5/shuxing/拍照设备-全画幅单反.html">全画幅</a></td><td><a target="_blank" href="/Home/Category/index/cid/5/form/1.html">团队</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">跟妆</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/6/shuxing/跟妆形式-早妆.html">早妆</a></td><td><a target="_blank" href="/Home/Category/index/cid/6/shuxing/跟妆形式-全程.html">全程</a></td><td><a target="_blank" href="/Home/Category/index/cid/6/shuxing/风格-甜美.html">甜美</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/6/shuxing/风格-中式.html">中式</a></td><td><a target="_blank" href="/Home/Category/index/cid/6/shuxing/风格-韩式.html">韩式</a></td><td><a target="_blank" href="/Home/Category/index/cid/6/shuxing/风格-奢华.html">奢华</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">车队</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/7/shuxing/品牌-宝马.html">宝马</a></td><td><a target="_blank" href="/Home/Category/index/cid/7/shuxing/品牌-奔驰.html">奔驰</a></td><td><a target="_blank" href="/Home/Category/index/cid/7/shuxing/品牌-路虎.html">路虎</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/7/shuxing/车型-越野车.html">越野车</a></td><td><a target="_blank" href="/Home/Category/index/cid/7/shuxing/车型-跑车.html">跑车</a></td><td><a target="_blank" href="/Home/Category/index/cid/7/shuxing/车型-直升机.html">直升机</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">演艺</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/8/shuxing/种类-歌手.html">歌手</a></td><td><a target="_blank" href="/Home/Category/index/cid/8/shuxing/种类-提琴.html">提琴</a></td><td><a target="_blank" href="/Home/Category/index/cid/8/shuxing/种类-舞蹈.html">舞蹈</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/8/shuxing/种类-魔术.html">魔术</a></td><td><a target="_blank" href="/Home/Category/index/cid/8/shuxing/种类-钢琴.html">钢琴</a></td><td><a target="_blank" href="/Home/Category/index/cid/8/shuxing/种类-乐队.html">乐队</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">婚纱</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/9/shuxing/样式-婚纱.html">婚纱</a></td><td><a target="_blank" href="/Home/Category/index/cid/9/shuxing/样式-礼服.html">礼服</a></td><td><a target="_blank" href="/Home/Category/index/cid/9/shuxing/风格-田园清新.html">清新</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/9/shuxing/风格-气质淑女.html">淑女</a></td><td><a target="_blank" href="/Home/Category/index/cid/9/shuxing/风格-公主.html">公主</a></td><td><a target="_blank" href="/Home/Category/index/cid/9/shuxing/元素-镂空.html">镂空</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m">
<div class="lunbo_l_m_l">酒店</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="/Home/Category/index/cid/10/shuxing/星级-五星级.html">五星级</a></td><td><a target="_blank" href="/Home/Category/index/cid/10/shuxing/星级-四星级.html">四星级</a></td><td><a target="_blank" href="/Home/Category/index/cid/10/shuxing/星级-三星级.html">三星级</a></td></tr>
<tr><td><a target="_blank" href="/Home/Category/index/cid/10/shuxing/厅大小-小厅.html">小厅</a></td><td><a target="_blank" href="/Home/Category/index/cid/10/shuxing/厅大小-中厅.html">中厅</a></td><td><a target="_blank" href="/Home/Category/index/cid/10/shuxing/厅大小-大厅.html">大厅</a></td></tr>
</table></div>
</div></li>
<li><div class="lunbo_l_m" style=" border-color:#FFFFFF;">
<div class="lunbo_l_m_l">囍铺</div>
<div class="lunbo_l_m_r"><table  cellspacing="0">
<tr><td><a target="_blank" href="#">请帖</a></td><td><a target="_blank" href="#">喜糖盒</a></td><td><a target="_blank" href="#">车喜</a></td></tr>
<tr><td><a target="_blank" href="#">酒水</a></td><td><a target="_blank" href="#">签到簿</a></td><td><a target="_blank" href="#">对联</a></td></tr>
</table></div>
</div></li>
</ul>
</div>
<div class="lunbo_mm" >
<!--                        轮         播          上                            -->
<div class="lunbo_m0"  id="lunbo_m0">
<div class="lunbo_m"  id="lunbo_m">
<div class="lunbo_m_gd" id="lunbo_m_gd">
<volist name="lunbo_shang" id="vo"> 
    <a href="<{:U($vo['url'])}>"><img  src="<{$vo['img_url']}>" /></a>
</volist>
</div>
</div>
<div class="icon icon_left" id="icon_l"  ></div>
<div class="icon icon_right" id="icon_r"  ></div>
</div><!--轮播上-->
<!--                        轮         播          下                            -->
<div class="lunbo_mx0"  id="lunbo_mx0">
<div class="lunbo_mx"  id="lunbo_mx">
<div class="lunbo_mx_gd" id="lunbo_mx_gd">
<volist name="lunbo_xia" id="vo"> 
<a href="<{:U($vo['url'])}>"><img  src="<{$vo['img_url']}>" /></a>
</volist>
</div>
</div>
<div class="iconx icon_left" id="iconx_l"  ></div>
<div class="iconx icon_right" id="iconx_r" ></div>
</div>                                  <!--轮播下-->
</div>
    
<div class="lunbo_r">
    <!--
    <div class="lunbo_r_lrhl">
<div class="lunbo_r_lrhl_t" style="text-align:center; height:50px;"><h1>懒人婚礼</h1><h4>(一键搜索，策划师全程安排)</h4></div>
<form name="lrhlform" action="lrhl.php" method="get"><table cellspacing="0">
<tr><td>婚礼预算:</td><td><input class="lrhlys" type="text" name="lrhlys" value="20000"  maxlength="10" /></td></tr>
<tr><td>婚礼风格:</td><td><input class="lrhlfg" type="text" name="lrhlfg" value="中式" maxlength="10" /></td></tr>
<tr><td>区域选择:</td><td><input class="lrhlys" type="text" name="lrhlys" value="雨花区"  maxlength="10" /></td></tr>
</table>
<input class="lrhlss" type="submit" name="lrhlss" value="开始定制"  />
</form>
</div>-->
    <volist name="shouye_right" id="vo"> 
<div class="guanggao">
    <a href="<{:U($vo['url'])}>">
    <img src="<{$vo['img_url']}>" />
    <span><{$vo['title']}></span>
    </a>
</div>
    </volist>

</div>
</div><!--轮播-->


<div class="box"><!--大盒子-->
<!--                              策   划  模    块   开     始                                        -->
<a name="a_gj_1" id="a_gj_1">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>1))}>">策划</a></div>
<div class="shangpindkj_content">

    
<volist name="cehua" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>

</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>1))}>" target="_blank">更多策划请点击</a></div>
</div><!--shangpindkj-->

<!--                              策   划  模    块   结         束                                       -->
<!--                              司   仪   模    块   开        始                                        -->


<a name="a_gj_2" id="a_gj_2">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>2))}>">司仪</a></div>
<div class="shangpindkj_content">

    
<volist name="siyi" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>

</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>2))}>" target="_blank">更多司仪请点击</a></div>
</div><!--shangpindkj-->

<!--                              司   仪 模    块   结         束                                       -->
<!--                              布   置   模    块   开        始                                        -->


<a name="a_gj_3" id="a_gj_3">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>3))}>">布置</a></div>
<div class="shangpindkj_content">

    
<volist name="buzhi" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>

</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>3))}>" target="_blank">更多布置请点击</a></div>
</div><!--shangpindkj-->

<!--                              布  置  模    块   结         束                                       -->
<!--                              摄  像  师  模    块   开        始                                        -->
<a name="a_gj_4" id="a_gj_4">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>4))}>">摄像师</a></div>
<div class="shangpindkj_content">
    
<volist name="shexiang" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>
    
</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>4))}>" target="_blank">更多摄像师请点击</a></div>
</div><!--shangpindkj-->

<!--                              摄  像  师  模    块   结         束                                       -->
<!--                              摄  影  师  模    块   开        始                                        -->
<a name="a_gj_5" id="a_gj_5">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>5))}>">摄影师</a></div>
<div class="shangpindkj_content">
    
<volist name="sheying" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>
    
</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>5))}>" target="_blank">更多摄影师请点击</a></div>
</div><!--shangpindkj-->

<!--                              摄影师  模    块   结         束    -->
<!--                              跟妆师  模    块   开         始                                        -->
<a name="a_gj_6" id="a_gj_6">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>6))}>">跟妆师</a></div>
<div class="shangpindkj_content">
<volist name="genzhuang" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>
    
</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>6))}>" target="_blank">更多跟妆请点击</a></div>
</div><!--shangpindkj-->

<!--                              跟妆师   模    块   结         束    -->
<!--                              车队  模    块   开         始                                        -->
<a name="a_gj_7" id="a_gj_7">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>7))}>">车队</a></div>
<div class="shangpindkj_content">
<volist name="chedui" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>
    
</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>7))}>" target="_blank">更多车队请点击</a></div>
</div><!--shangpindkj-->

<!--                              车队  模    块   结         束    -->
<!--                              演艺  模    块   开         始      -->
<a name="a_gj_8" id="a_gj_8">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>8))}>">演艺</a></div>
<div class="shangpindkj_content">
<volist name="yanyi" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>
    
</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>8))}>" target="_blank">更多演艺请点击</a></div>
</div><!--shangpindkj-->
<!--                              演艺  模    块   结         束    -->
<!--                              舞美  模    块   开         始                                        -->
<a name="a_gj_9" id="a_gj_9">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>9))}>">婚纱礼服</a></div>
<div class="shangpindkj_content">
<volist name="wumei" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>
    
</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>9))}>" target="_blank">更多舞美请点击</a></div>
</div><!--shangpindkj-->
<!--                              舞美  模    块   结         束    -->
<!--                              酒店  模    块   开         始                                        -->
<a name="a_gj_10" id="a_gj_10">&nbsp;</a>
<div class="shangpindkj">
<div class="shangpindkj_title"><a target="_blank" href="<{:U('Category/index',array('cid'=>10))}>">酒店</a></div>
<div class="shangpindkj_content">
<volist name="jiudian" id="vo">    
<div class="shopping">
    <div class="shopping_img"><a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><img src="<{$vo['goods_img']}>"/></a></div>
<div class="shopping_title">
<div class="shopping_title_name">商品</div>
<a target="_blank" href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><{$vo['goods_name']}></a></div>
<div class="shopping_tr2">
<div class="shopping_title_name"><{$vo['cat_name']}></div>
<{$vo['user_name']}>
<div class="shopping_didian"><img src="__PUBLIC_HOME__/Images/index/didian.png"  /><div><{$vo['area']|str_replace='省'.$a,' ',###|str_replace='市'.$a,' ',###}></div></div>
</div><!--第二行信息-->
<div class="shopping_pricepj">
    <div class="shopping_price">&yen;<{$vo['price']}><span class="yuan_price">门店价 <del>&yen;<{$vo['yuan_price']|floor}></del></span></div>
    <span class="shopping_sale">已售 <{$vo['buy_number']}></span>
</div>
<div class="pingjia_div"><div class="shopping_pjrenshu"><a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id'])).'#maodian_pingjia'}>"><{$vo['comment_number']}>人评价</a></div>
<div class="shopping_pingjia"><div class="pingjia_limian" style="width:<{$vo['score']|xingxing_baifenbi}>;"></div></div></div>
</div><!--商品1-->
</volist>
    
</div><!--shangpindkj_content-->
<div class="shangpin_foot"><a href="<{:U('Category/index',array('cid'=>10))}>" target="_blank">更多酒店请点击</a></div>
</div><!--shangpindkj-->
<!--                              酒    店      模    块   结         束    -->
<a name="a_gj_11" id="a_gj_11">&nbsp;</a>
</div><!--//大盒子-->






<div class="gj_r"><a href="#top"></a></div><!--右侧挂件1-->
<div class="gj_l" id="gj_l">
<ul>
<li><a class="a_gj_1" onclick="click_miaodian(this)" id="gj_l_1" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">策划</a></li>
<li><a class="a_gj_2" onclick="click_miaodian(this)" id="gj_l_2" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">司仪</a></li>
<li><a class="a_gj_3" onclick="click_miaodian(this)" id="gj_l_3" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">布置</a></li>
<li><a class="a_gj_4" onclick="click_miaodian(this)" id="gj_l_4" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">摄像</a></li>
<li><a class="a_gj_5" onclick="click_miaodian(this)" id="gj_l_5" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">摄影</a></li>
<li><a class="a_gj_6" onclick="click_miaodian(this)" id="gj_l_6" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">跟妆</a></li>
<li><a class="a_gj_7" onclick="click_miaodian(this)" id="gj_l_7" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">车队</a></li>
<li><a class="a_gj_8" onclick="click_miaodian(this)" id="gj_l_8" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">演艺</a></li>
<li><a class="a_gj_9" onclick="click_miaodian(this)" id="gj_l_9" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">婚纱</a></li>
<li><a class="a_gj_10" onclick="click_miaodian(this)" id="gj_l_10" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">酒店</a></li>
</ul>
</div><!--左侧挂件1-->
<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('Index/menu')}>"></iframe>
<script src="__PUBLIC_HOME__/Js/index.js" type="text/javascript"></script>

