
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/hunliren_shangjiaxinxi.css">
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
</head>

<body>
    <include file='Public/menu' />
    <include file='Public/member_left' />
    <div class="right">
        <div class="right_head">
            <div class="hlr_touxiang">
                <img src="<{$touxiang_url}>" class="img" />
                <img src='__PUBLIC_HOME__/Images/public/circle_f6f6f6.png' class="img_circle" />
            </div>
            <div class="hlr_name"><{$day_time}>， <{$userdata['user_name']}></div>
        </div>
        <div class="title">
            会员余额
        </div>
        <div class="content">
            <ul>
                <li>会员名： <{$userdata['user_name']}></li>
                <li>代金券：&yen;  <{$userdata['daijinjuan']}>元</li>
                <li>使用规则：可以使用代金券的商品，付款时可以用代金券抵现金，抵扣比例10%</li>
            </ul>
        </div>
    </div>
    
    
    
    
    
    
    
    
    
</div>
<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
</body>
</html>