
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/hunliren_bianji.css">
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
<script src="__PUBLIC_COMMON__/Js/jquery.form.js"></script> 
</head>

<body>
    <include file='Public/menu' />
    <include file='Public/member_left' />
    <div class="right">
        <form name="zhuce" method="post" enctype="multipart/form-data" action="<{:U('Member/hunliren_bianji_check')}>">
         <input name="member_file_touxiang" value="" type="hidden"/> 
         <input name="member_file_shenfenzheng" value="" type="hidden"/> 
         <input name="member_file_erweima" value="" type="hidden"/> 
<div class="zhuce1_tr">
    <div class="zhuce4_tr_td1" style="height: 35px;line-height: 35px;">上传头像</div>
    <div class="div_goods_img"><img src="" class="empty_img" /><img class="goods_img" id='file_touxiang' src="<{$data['head_url']}>" /></div>                
    <span id="span_touxiang"></span>
    <span class="file_tishi">(请上传3：2的图片，最高5M，建议分辨率296*198)</span>
</div><!--第一行-->
<div style="width:280px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">性别</div>
<div class="zhuce4_tr_td2">
    <if condition="$data['sex'] eq '0'">
    男
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<else />
女
    </if>
</div>
</div><!--第二行-->
<div style="width:280px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">服务形式</div>
<div class="zhuce4_tr_td2">
    <if  condition="$data['server_form'] eq '0'">
个人 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<else />
工作室&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</if>
<!--<input name="radio_fuwuxingshi" type="radio" class="zhuce4_radio" value="2"  />公司-->
</div>
</div><!--第三行-->
<div style="width:350px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr" id="radio_1">
<div class="zhuce4_tr_td1">真实姓名</div>
<div class="zhuce4_tr_td2">
<{$data['true_name']}>
</div>
</div><!--第四行-->
<div class="zhuce1_tr" id="radio_2">
    <div class="zhuce4_tr_td1" style="height: 35px;line-height: 35px;">身份证照</div>
    <div class="div_goods_img"><img src="" class="empty_img" /><img class="goods_img" id='file_shenfenzheng' src="<{$data['shenfenzheng_url']}>" /></div>                
    <span id="span_shenfenzheng"></span>
    <span class="file_tishi">(请上传身份证正面)</span>
</div><!--第五行-->

<!--
<div class="zhuce1_tr" id="radio_3">
<div class="zhuce4_tr_td1">营业执照</div>
<input name="file_yingyezhizhao" type="file" class="zhuce4_tr_td2" />
<span id="span_yingyezhizhao"></span>
    
</div>--><!--第六行-->
    
  
<div style="width:350px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">所在城市</div>
<select name="address_province" class="zhuce4_tr_td2 zhuce4_select" ></select>
<select name="address_city" class="zhuce4_tr_td2 zhuce4_select" ></select>
<select name="address_county" class="zhuce4_tr_td2 zhuce4_select" ></select>
<span id="span_select"></span>
</div><!--第七行-->
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">详细地址</div>
<input name="address_juti" type="text" class="zhuce4_tr_td2 zhuce4_text" value="<{$data['address']}>"  />
<span id="infor_address_juti"></span>
</div><!--第八行-->
<div style="width:350px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">联系方式</div>
<span style="padding-left:0px;">&nbsp;Q&nbsp;Q：</span>
<input name="contact_qq" type="text" class="zhuce4_tr_td2 zhuce4_text zhuce4_text_lianxifangshi" value="<{$data['qq']}>"  />
<span id="infor_contact_qq"></span>
</div><!--第九行-->
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1"></div>
<span>微信：</span><input name="contact_weixin" type="text" class="zhuce4_tr_td2 zhuce4_text zhuce4_text_lianxifangshi" value="<{$data['weixin']}>"  />
<span id="infor_contact_weixin"></span>
</div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1"></div>
<span>邮箱：</span><input name="contact_email" type="text" class="zhuce4_tr_td2 zhuce4_text zhuce4_text_lianxifangshi" value="<{$data['email']}>" />
<span id="infor_contact_email"></span>
</div>
<div style="width:700px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr">
    <div class="zhuce4_tr_td1" style="height: 35px;line-height: 35px;">微信二维码</div>
    <div class="div_goods_img"><img src="" class="empty_img" /><img class="goods_img" id='file_erweima' src="<{$data['weixin_erweima']}>" /></div>                
    <span class="file_tishi">(可选择不传)</span>
</div><!--第一行-->
<div style="width:700px;height:0px;border-top:1px dashed #666;"></div>
<!--
<div class="zhuce1_tr" style="font-size:14px;padding:5px 0px;"><div class="zhuce4_tr_td1">服务内容
</div><div class="zhuce4_tr_td2">（最多两项）<span id="span_checkbox"></span></div>
</div>
<div class="zhuce4_checkbox" id="zhuce4_checkbox">
    <input type="checkbox" name="fuwuneirong[]" value="策划师"/><span>策划师</span>
<input type="checkbox" name="fuwuneirong[]" value="司仪" /><span>司仪</span>
<input type="checkbox" name="fuwuneirong[]" value="跟妆" /><span>跟妆</span>
<input type="checkbox" name="fuwuneirong[]" value="摄像" /><span>摄像</span>
<input type="checkbox" name="fuwuneirong[]" value="摄影" /><span>摄影</span><br />
<input type="checkbox" name="fuwuneirong[]" value="车队" /><span>车队</span>
<input type="checkbox" name="fuwuneirong[]" value="布置" /><span>布置</span>
<input type="checkbox" name="fuwuneirong[]" value="舞美" /><span>婚纱</span>
<input type="checkbox" name="fuwuneirong[]" value="演艺" /><span>演艺</span>
<input type="checkbox" name="fuwuneirong[]" value="酒店" /><span>酒店
    
</div>
<div style="width:700px;height:0px;border-top:1px dashed #666;"></div>
-->

<div class="zhuce1_tr" style="position: relative;">
<div class="zhuce4_tr_td1">店铺介绍</div>  
<span id="infor_shop_introduce" style="position: absolute; top:40px;left:40px; width: 80px;"></span>
<textarea id="shop_introduce" name="shop_introduce" style="width:60%;height:150px;" class="zhuce4_tr_td2 zhuce4_text" placeholder="500字以内"><{$data['shop_introduce']}></textarea>
</div>
<div style="width:700px;height:0px;border-top:1px dashed #666;"></div>
<a href="javascript:void(0)" id="zhuce1_xiayibu" class="a_xyb">下一步</a>
</form>
</div>

    <form id = "form_file_touxiang" enctype="multipart/form-data" action="<{:U('Zhuce/file_jia')}>" method="post" name="form_file_touxiang">   
        <input name="file_touxiang" type="file"  style="visibility:hidden; width:0px; height: 0px;"/>
    </form>
    <form id = "form_file_shenfenzheng" enctype="multipart/form-data" action="<{:U('Zhuce/file_jia')}>" method="post" name="form_file_shenfenzheng">   
        <input name="file_shenfenzheng" type="file" style="visibility:hidden; width:0px; height: 0px;" />
    </form>
    <form id = "form_file_erweima" enctype="multipart/form-data" action="<{:U('Zhuce/file_jia')}>" method="post" name="form_file_erweima">   
        <input name="file_erweima" type="file" style="visibility:hidden; width:0px; height: 0px;" />
    </form>
    </div>
    
    
    
    
    
    
    
    
    
</div>
<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
<script src="__PUBLIC_HOME__/Js/hunliren_bianji.js" type="text/javascript"></script>
<script  type="text/javascript">
    var str_sc="<{$data['server_content']}>",str_location="<{$data['location']}>";
    var arr_sc=str_sc.split('|'),arr_location=str_location.split('|');
    for(var i=0;i<arr_sc.length;i++){
        var sc=arr_sc[i];
        $("input[value="+sc+"]").trigger('click');
    }
    $('select[name=address_province]').val(arr_location[0]);
    var obj_p=$('select[name=address_province]').find("option[value='"+arr_location[0]+"']");
    province_onchange(obj_p.index());
    $('select[name=address_address_city]').val(arr_location[1]);
    var obj_c=$('select[name=address_city]').find("option[value='"+arr_location[1]+"']");
    city_onchange(obj_c.index());
    $('select[name=address_county]').val(arr_location[2]);
</script>
    </body>
</html>
        
