<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/release_goods.css">
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script>
<script src="__PUBLIC_COMMON__/Js/kindeditor/kindeditor.js"></script>
<script src="__PUBLIC_COMMON__/Js/kindeditor/lang/zh_CN.js"></script>
</head>

<body>
    <include file='Public/menu'/>
    <include file='Public/hunliren_left' />
    <div class="release">
        <div class="div1">
            商品发布：
        </div>
      
        <form name="sv_cont" method="post" action="<{:U('Member/release_goods')}>" >
            <div class="tr">
                <div class="tr_td1">服务类型</div>
                <select name="server_content" class="tr_td2 release_select" >
                    <volist name="arr_sc" id="vo">
                        <option value="<{$vo}>" <{$$vo}>> <{$vo}></option>
                    </volist>
                </select>
                <span id="span_select"></span>
            </div>
            <div style="width:400px;height:0px;border-top:1px dashed #666;"></div>
            <input name="sc_hidden" value="server_content" type="hidden"/>    
        </form>
        
        
        
        <form name="release_goods" method="post" enctype="multipart/form-data" action="<{:U('Member/release_check')}>" onsubmit="editor.sync()">
            <input name="server_content" value="<{$server_content}>" type="hidden"/> 
            <div class="tr">
                <div class="tr_td1">商品标题</div>
                <input name="title" type="text" class="text"  />
                <span id="info_title"></span>
            </div>
            <div style="width:400px;height:0px;border-top:1px dashed #666;"></div>
        
        
            <div  class="tr" id="insert_img">
                <div class="tr_td1">展示图</div>
                <input name="file_img" type="file" class="tr_td2"/>
                <span id="span_touxiang">请上传3：2的图片，最高5M，建议分辨率296*198</span>
            </div>
            
           
            
            <input type="button" value="继续添加" id="button_jia" class="button_jia"/>
            <div style="width:400px;height:0px;border-top:1px dashed #666;"></div>
               
            





            <div class="tr" style="<{$css}>">
                <div class="tr_td1">性别</div>
                <div class="tr_td2">
                    <input name="radio_sex" type="radio" class="radio" value="0" />男
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="radio_sex" type="radio" class="radio" value="1" />女
                </div>
            </div><!--第二行-->
            <div style="width:400px;height:0px;border-top:1px dashed #666;<{$css}>"></div>
            
            
            <div class="tr">
                <div class="tr_td1">价格</div>
                <input name="price" type="text" class="text price_text"  />
                <span style="font-size: 14px;">元</span>
                <span id="info_price"></span>
            </div>
            <div class="tr">
                <div class="tr_td1">原价</div>
                <input name="yuan_price" type="text" class="text price_text"  />
                <span style="font-size: 14px;">元</span>
                <span id="info_yuan_price"></span>
            </div>
            <div style="width:400px;height:0px;border-top:1px dashed #666;"></div>
            
            <volist name="arr_shuxing" id="vo">
            <div class="tr">
                <div class="tr_td1"><{$key}></div>
                <select name="shuxing[]" class="tr_td2 release_select" >
                    <volist name="vo" id="value">
                        <option value="<{$value}>"> <{$value}></option>
                    </volist>
                </select>
                <span id="span_select"></span>
            </div>
            </volist>
            <div style="width:400px;height:0px;border-top:1px dashed #666;"></div>
            
            
            <div class="tr">
                <div class="tr_td1">商品描述</div>
            </div>
            <div class="tr">
                <textarea id="content" name="content" style="width:90%;height:300px;visibility:hidden;">
                    
                </textarea>
            </div>
            
            
            <a href="javascript:void(0)" id="xiayibu" class="xyb">立刻发布</a>
        </form>
    </div>
    
    
    
</div>
<script src="__PUBLIC_HOME__/Js/release_goods.js" type="text/javascript"></script>

</body>
</html>
