<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__/Css/advert.css" />
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
<script src="__PUBLIC_COMMON__/Js/jquery.form.js"></script> 
</head>
<body>
    <div class="inof_div">
        <volist name="data" id="vo">  
        <form name="qrsc_<{$vo['xuhao']}>"  method="post" enctype="multipart/form-data"  action="<{:U('Advert/sc')}>">
            <input name="text_file_<{$vo['xuhao']}>" value="" type="hidden"/> 
        </form>
        </volist>
        
        
            <div class="title">网站首页广告（<{$data[0]['position']}>）管理</div>
            <volist name="data" id="vo">  
        <div class="zhuce1_tr">
            <div class="zhuce4_tr_td1" >轮播图片(<{$vo['xuhao']}>)</div>
            <div class="div_goods_img"><img src="" class="empty_img" /><img class="goods_img" id="file_<{$vo['xuhao']}>"  src="<{$vo['img_url']}>" /></div> 
            <span class="file_tishi">(分辨率735*300)</span>
            <input type="button" value="确认上传" class="qrsc" id="qrsc_<{$vo['xuhao']}>"  />
            <input type="button" value="详情编辑" class="xqbj" id="<{$vo['xuhao']}>"  />
        </div>
            </volist>

     
  </div>
    <img src="/Public/Home/Images/index/sylb/sylbs-1.jpg" class="fangda" />

    
    <volist name="data" id="vo">  
    <form id = "form_file_<{$vo['xuhao']}>" enctype="multipart/form-data" action="<{:U('Advert/file_jia')}>" method="post" name="form_file_<{$vo['xuhao']}>">   
        <input name="file_<{$vo['xuhao']}>" type="file"  style="visibility:hidden; width:0px; height: 0px;"/>
    </form>
    </volist>
    
    <script src="__PUBLIC_ADMIN__/Js/advert.js"></script> 
    
    <script>
        $('.xqbj').bind('click',function(){
            var id=$(this).attr('id');
            self.location="/admin/advert/xqbj?xuhao="+id; 
        });
    </script>
    

</body>
</html>